Repository FlaxEngine/FlaxEngine, pull requests merged in 2021-05, with the labels that each got.

#517 Fix getter only properties not showing.
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
Labels: editor, fix

#492 Add missing '/' to XML docs
  Source/Engine/Input/InputDevice.h
Labels: documentation, fix

#493 Improve quotes?
  Source/Editor/Windows/SplashScreen.cpp
Labels: editor, enhancement

#496 [CLEAN] Add missing include and undef redefined macro
  Source/Engine/Core/DeleteMe.h
  Source/Engine/Serialization/JsonTools.h
Labels: fix

#511 Implement AddForceAtPosition for Rigidbodies
  Source/Engine/Physics/Actors/RigidBody.cpp
  Source/Engine/Physics/Actors/RigidBody.h
Labels: enhancement, physics

#513 Makes The C# Script Template Doc Friendly
  Content/Editor/Scripting/CppAssetTemplate.h
  Content/Editor/Scripting/CppStaticClassTemplate.cpp
  Content/Editor/Scripting/CppStaticClassTemplate.h
  Content/Editor/Scripting/ScriptTemplate.cs
  Source/Editor/Content/Proxy/CppAssetProxy.cs
  Source/Editor/Content/Proxy/CppStaticClassProxy.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: editor, enhancement

#508 Add physics queries for convex meshes
  Source/Engine/Physics/Physics.Queries.cpp
  Source/Engine/Physics/Physics.h
Labels: enhancement, physics

#512 Add digit check at asset renaming.
  Source/Editor/Content/Proxy/ContentProxy.cs
  Source/Editor/Content/Proxy/ScriptProxy.cs
  Source/Editor/Modules/ContentEditingModule.cs
Labels: editor, fix

#521 Fix out of bound access to RichTextBoxBase internal buffer
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
Labels: fix, ui

#478 vkCmdDraw*Indirect impl.
  Source/Engine/GraphicsDevice/Vulkan/GPUContextVulkan.cpp
  Source/Engine/GraphicsDevice/Vulkan/GPUDeviceVulkan.cpp
  Source/Engine/Renderer/DepthOfFieldPass.cpp
Labels: enhancement, graphics

#515 Int16 & Uint16 Scripting/Serialization support.
  Source/Editor/Scripting/ScriptType.cs
  Source/Editor/Utilities/VariantUtils.cs
  Source/Engine/Core/Types/Variant.cpp
  Source/Engine/Core/Types/Variant.h
  Source/Engine/Scripting/ManagedCLR/MUtils.cpp
  Source/Engine/Serialization/Stream.cpp
Labels: core, enhancement

#523 Continous Deployment
  .github/workflows/cd.yml
Labels: enhancement, tools

#528 Use Roslyn C# compiler server to improve script compilation times
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
Labels: enhancement, tools

#527 Command line -play argument.
  Source/Editor/Editor.cpp
  Source/Editor/Editor.cs
  Source/Editor/Managed/ManagedEditor.cpp
  Source/Editor/Managed/ManagedEditor.h
  Source/Engine/Engine/CommandLine.cpp
  Source/Engine/Engine/CommandLine.h
  Source/Engine/Graphics/Models/Mesh.cpp
Labels: editor, enhancement

#529 Only build bindings for project references with C#-only projects
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: tools

#532 Add how-to context for building Windows + Vulkan.
  README.md
Labels: documentation, enhancement

#534 Add support for Rider 2021, use latest detected version of Rider
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: editor, enhancement, tools

#535 Escapes backslashes in generated tooltip descriptions
  Source/Engine/Input/KeyboardKeys.h
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: fix, tools

#537 Viewpoint shortcuts.
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: editor, enhancement

#538 Sleep between frames to save CPU cycles
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Engine/Time.cpp
  Source/Engine/Engine/Time.h
  Source/Engine/Platform/Win32/Win32Platform.cpp
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
Labels: enhancement, platform

#539 Include toolchain preprocessor definitions in binding generation
  Source/Tools/Flax.Build/Build/Builder.cs
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: fix, tools
