Repository FlaxEngine/FlaxEngine, pull requests merged in 2021-12, with the labels that each got.

#674 Miscellaneous improvements
  Source/Engine/Core/Collections/Dictionary.h
  Source/Engine/Core/Delegate.h
  Source/Engine/Core/Math/Math.cpp
  Source/Engine/Threading/Task.h
Labels: enhancement, core

#623 Fix engine ticking to catch up faster when falling behind
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Engine/Time.cpp
Labels: enhancement, core

#681 Fix blend shape offsets
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
Labels: editor, fix

#682 Fix issue with filters being ignored for two controllers colliding
  Source/Engine/Physics/Colliders/CharacterController.cpp
  Source/Engine/Physics/Physics.Queries.cpp
  Source/Engine/Physics/Physics.h
  Source/Engine/Physics/Types.h
Labels: fix, physics
