Repository FlaxEngine/FlaxEngine, pull requests merged in 2021-08, with the labels that each got.

#577 New window opening method
  Source/Editor/GUI/Docking/DockWindow.cs
  Source/Editor/Options/InterfaceOptions.cs
Labels: enhancement, editor

#578 Order files/folders by name
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/Windows/ContentWindow.Search.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#581 Catch potential runtime error from locale::global
  Source/Engine/Localization/Localization.cpp
Labels: enhancement, core

#582 Fixed crash on startup when 2 Rider installations are detected
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: tools, fix

#592 Fixed invalid uses of StringView::GetText(), where a null-terminated string was expected.
  Source/Editor/Utilities/EditorUtilities.cpp
  Source/Engine/Content/Content.cpp
  Source/Engine/Content/Content.h
  Source/Engine/Core/Types/String.h
  Source/Engine/Core/Types/StringView.cpp
  Source/Engine/Core/Types/StringView.h
  Source/Engine/Core/Types/Variant.h
  Source/Engine/Localization/Localization.cpp
  Source/Engine/Platform/Base/PlatformBase.h
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/StringUtils.h
  Source/Engine/Platform/UWP/UWPPlatform.cpp
  Source/Engine/Platform/Windows/WindowsClipboard.cpp
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cpp.cs
Labels: core

#599 Add LookingAt to Actor
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.h
Labels: enhancement, core

#600 Removed unnecessary NULL terminator in RunBuildTool() to fix #402
  Source/Editor/Scripting/ScriptsBuilder.cpp
Labels: editor, fix

#601 Fixed bugs in string functions. Added tests for modified functions.
  Source/Engine/Core/Types/String.cpp
  Source/Engine/Core/Types/String.h
  Source/Engine/Core/Types/StringView.h
  Source/Engine/TestsMain/StringTests.cpp
  Source/Engine/TestsMain/TestsMain.Build.cs
  Source/Engine/TestsMain/TestsMain.cpp
  Source/FlaxNativeTests.Build.cs
  Source/ThirdParty/catch2/LICENSE.txt
  Source/ThirdParty/catch2/catch.hpp
  Source/ThirdParty/catch2/catch2.Build.cs
  Source/Tools/Flax.Build/Build/NativeCpp/LinkEnvironment.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: enhancement, core, tools, fix

#603 Improve issue reporting
  ISSUE_TEMPLATE.md
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor, tools

#609 Add Ramsay quote
  Source/Editor/Windows/SplashScreen.cpp
Labels: enhancement, editor

#608 Add margin to TilesPanel tile
  Source/Engine/UI/GUI/Panels/GridPanel.cs
  Source/Engine/UI/GUI/Panels/TilesPanel.cs
Labels: enhancement, ui

#602 Added LinuxFileSystemWatcher
  Source/Engine/Platform/FileSystemWatcher.h
  Source/Engine/Platform/Linux/LinuxFileSystemWatcher.cpp
  Source/Engine/Platform/Linux/LinuxFileSystemWatcher.h
  Source/Engine/Platform/Types.h
Labels: enhancement, platform

#615 Add Orientation option to ContentWindow
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor
