Repository FlaxEngine/FlaxEngine, pull requests merged in 2021-06, with the labels that each got.

#542 Adding background color in collections
  Source/Editor/CustomEditors/Editors/ArrayEditor.cs
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
  Source/Editor/CustomEditors/Editors/DictionaryEditor.cs
  Source/Editor/CustomEditors/Editors/ListEditor.cs
  Source/Editor/Options/OptionsModule.cs
  Source/Editor/Scripting/TypeUtils.cs
  Source/Engine/Scripting/Attributes/CollectionAttribute.cs
  Source/Engine/Scripting/Scripting.cs
  Source/Engine/UI/GUI/Style.cs
Labels: editor, enhancement

#547 Various UWP fixes
  Source/Engine/Platform/UWP/UWPWindow.cpp
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: fix, platform

#549 Use Stopwatch instead of DateTime.Now for increased accuracy
  Source/Tools/Flax.Build/Build/Profiling.cs
  Source/Tools/Flax.Build/Program.cs
  Source/Tools/Flax.Build/Utilities/Utilities.cs
Labels: enhancement, tools

#550 Fix issues caused by the new Icons.
  Source/Editor/Content/Items/JsonAssetItem.cs
  Source/Editor/EditorIcons.cs
  Source/Editor/GUI/Docking/DockPanel.cs
  Source/Editor/GUI/PlatformSelector.cs
  Source/Editor/GUI/Timeline/Tracks/ActorTrack.cs
  Source/Editor/GUI/Timeline/Tracks/AudioTrack.cs
  Source/Editor/GUI/Timeline/Tracks/CameraCutTrack.cs
  Source/Editor/GUI/Timeline/Tracks/FolderTrack.cs
  Source/Editor/GUI/Timeline/Tracks/MemberTrack.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
  Source/Editor/Surface/Constants.cs
  Source/Editor/Windows/Assets/VisualScriptWindow.cs
  Source/Editor/Windows/ContentWindow.cs
  Source/Editor/Windows/DebugLogWindow.cs
Labels: editor, enhancement, fix

#555 Don't log computer/username in log files
  Source/Engine/Platform/Base/PlatformBase.cpp
Labels: editor, enhancement
