Repository FlaxEngine/FlaxEngine, pull requests merged in 2022-07, with the labels that each got.

#721 Support dispatching jobs within jobs in JobSystem
  Source/Engine/Threading/JobSystem.cpp
Labels: enhancement, core, performance

#728 EnvironmentProbe selectable resolution
  Source/Engine/Core/Config/GraphicsSettings.cpp
  Source/Engine/Core/Config/GraphicsSettings.h
  Source/Engine/Graphics/Graphics.cpp
  Source/Engine/Graphics/Graphics.h
  Source/Engine/Level/Actors/EnvironmentProbe.cpp
  Source/Engine/Level/Actors/EnvironmentProbe.h
  Source/Engine/Renderer/ProbesRenderer.cpp
Labels: enhancement, graphics

#700 Fix wrong library linkage in DirectXShaderCompiler
  Source/Engine/ShadersCompilation/DirectX/ShaderCompilerDX.Build.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsPlatformBase.cs
Labels: platform

#715 Fix error when double-clicking empty RichTextBox
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
Labels: fix, ui

#691 Add cursor clipping
  Source/Engine/Engine/Screen.cpp
  Source/Engine/Input/Enums.h
  Source/Engine/Platform/Base/WindowBase.cpp
  Source/Engine/Platform/Base/WindowBase.h
  Source/Engine/Platform/Windows/WindowsWindow.cpp
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: enhancement, platform

#717 Improve JetBrains Rider installation detection
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: enhancement, tools
