Repository FlaxEngine/FlaxEngine, pull requests merged in 2022-11, with the labels that each got.

#811 Various fixes to prefab tree view
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Windows/Assets/PrefabWindow.Actions.cs
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#813 PE: Fixed - flax storage crash , happened quit often on my system.
  Source/Engine/Content/Storage/FlaxStorage.cpp
Labels: core, fix

#810 organized the "new" child context menu in the content window into categories
  Source/Editor/Content/Proxy/AnimationGraphFunctionProxy.cs
  Source/Editor/Content/Proxy/AnimationGraphProxy.cs
  Source/Editor/Content/Proxy/AnimationProxy.cs
  Source/Editor/Content/Proxy/CSharpScriptProxy.cs
  Source/Editor/Content/Proxy/CollisionDataProxy.cs
  Source/Editor/Content/Proxy/CppProxy.cs
  Source/Editor/Content/Proxy/GameplayGlobalsProxy.cs
  Source/Editor/Content/Proxy/JsonAssetProxy.cs
  Source/Editor/Content/Proxy/MaterialFunctionProxy.cs
  Source/Editor/Content/Proxy/MaterialInstanceProxy.cs
  Source/Editor/Content/Proxy/MaterialProxy.cs
  Source/Editor/Content/Proxy/ParticleEmitterFunctionProxy.cs
  Source/Editor/Content/Proxy/ParticleEmitterProxy.cs
  Source/Editor/Content/Proxy/ParticleSystemProxy.cs
  Source/Editor/Content/Proxy/PrefabProxy.cs
  Source/Editor/Content/Proxy/SceneProxy.cs
  Source/Editor/Content/Proxy/SettingsProxy.cs
  Source/Editor/Content/Proxy/ShaderSourceProxy.cs
  Source/Editor/Content/Proxy/SkeletonMaskProxy.cs
  Source/Editor/Content/Proxy/VisualScriptProxy.cs
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
  Source/Engine/Physics/PhysicalMaterial.h
  Source/Engine/Scripting/Attributes/Editor/ContentContextMenu.cs
Labels: enhancement, editor

#819 dont close specific viewport view CM buttons.
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor, ui

#828 Support MSBuild in preview version Visual Studio in build scripts
  Development/Scripts/Windows/GetMSBuildPath.bat
Labels: enhancement, tools

#829 Fix crash when shader cache file is empty
  Source/Engine/Graphics/Shaders/Cache/ShaderAssetBase.cpp
Labels: graphics, fix

#826 Fixed issue with ParticleEffect's properties editor when no asset is selected
  Source/Editor/CustomEditors/Dedicated/ParticleEffectEditor.cs
Labels: editor, fix

#830 Changed using screen coords to using window points in value box.
  Source/Editor/GUI/Input/ValueBox.cs
Labels: enhancement, editor, fix, ui

#823 Better actor toolbox
  Source/Editor/Windows/ToolboxWindow.cs
  Source/Engine/Animations/SceneAnimations/SceneAnimationPlayer.h
  Source/Engine/Audio/AudioListener.h
  Source/Engine/Audio/AudioSource.h
  Source/Engine/Level/Actors/AnimatedModel.h
  Source/Engine/Level/Actors/BoneSocket.h
  Source/Engine/Level/Actors/BoxBrush.h
  Source/Engine/Level/Actors/Camera.h
  Source/Engine/Level/Actors/Decal.h
  Source/Engine/Level/Actors/DirectionalLight.h
  Source/Engine/Level/Actors/EmptyActor.h
  Source/Engine/Level/Actors/EnvironmentProbe.h
  Source/Engine/Level/Actors/ExponentialHeightFog.h
  Source/Engine/Level/Actors/PointLight.h
  Source/Engine/Level/Actors/PostFxVolume.h
  Source/Engine/Level/Actors/Sky.h
  Source/Engine/Level/Actors/SkyLight.h
  Source/Engine/Level/Actors/Skybox.h
  Source/Engine/Level/Actors/Spline.h
  Source/Engine/Level/Actors/SpotLight.h
  Source/Engine/Navigation/NavLink.h
  Source/Engine/Navigation/NavMeshBoundsVolume.h
  Source/Engine/Navigation/NavModifierVolume.h
  Source/Engine/Particles/ParticleEffect.h
  Source/Engine/Physics/Actors/RigidBody.h
  Source/Engine/Physics/Colliders/BoxCollider.h
  Source/Engine/Physics/Colliders/CapsuleCollider.h
  Source/Engine/Physics/Colliders/CharacterController.h
  Source/Engine/Physics/Colliders/MeshCollider.h
  Source/Engine/Physics/Colliders/SphereCollider.h
  Source/Engine/Physics/Joints/D6Joint.h
  Source/Engine/Physics/Joints/DistanceJoint.h
  Source/Engine/Physics/Joints/FixedJoint.h
  Source/Engine/Physics/Joints/HingeJoint.h
  Source/Engine/Physics/Joints/SliderJoint.h
  Source/Engine/Physics/Joints/SphericalJoint.h
  Source/Engine/Scripting/Attributes/Editor/ActorToolbox.cs
  Source/Engine/UI/SpriteRender.h
  Source/Engine/UI/TextRender.h
  Source/Engine/UI/UICanvas.h
  Source/Engine/UI/UIControl.h
Labels: enhancement, editor

#822 Rename on left click
  Source/Editor/GUI/Popups/RenamePopup.cs
Labels: enhancement, editor, ui

#834 Adds side mouse button shortcuts to the Content window
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor, input

#835 Added ability to drag maximized windows.
  Source/Editor/GUI/Docking/DockHintWindow.cs
  Source/Editor/GUI/Docking/FloatWindowDockPanel.cs
Labels: enhancement, editor, fix, ui

#837 Fixes/changes and additions.
  Source/Engine/Audio/AudioSource.cpp
  Source/Engine/Tools/AudioTool/WaveDecoder.cpp
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
Labels: enhancement, audio, editor, fix

#840 PE: Support normal generation when using assimp importer.
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
Labels: enhancement, editor
