Repository FlaxEngine/FlaxEngine, pull requests merged in 2022-12, with the labels that each got.

#847 Fix RunProcess not working in development builds
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
Labels: fix

#860 Various fixes to .NET 7 support
  Source/Editor/CustomEditors/CustomEditorsUtil.cpp
  Source/Editor/Editor.cs
  Source/Editor/Managed/ManagedEditor.Internal.cpp
  Source/Editor/Windows/Assets/CollisionDataWindow.cs
  Source/Editor/Windows/Assets/VisualScriptWindow.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Scripting/DotNet/CoreCLR.h
  Source/Engine/Scripting/DotNet/MonoApi.cpp
  Source/Engine/Scripting/ManagedCLR/MClass.cpp
Labels: enhancement, fix, scripting

#861 .NET7: Optimize allocations in method parameter marshalling and invocation
  Source/Editor/Scripting/ScriptsBuilder.cpp
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
  Source/Engine/Scripting/DotNet/CoreCLR.cpp
  Source/Engine/Scripting/DotNet/CoreCLR.h
  Source/Engine/Scripting/DotNet/MonoApi.cpp
  Source/Engine/Scripting/ManagedCLR/MCore.cpp
  Source/Engine/Utilities/Utils.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, scripting

#864 .NET7: Optimize field accessor and array related allocations
  Source/Editor/Content/Import/TextureImportEntry.cs
  Source/Editor/GUI/EnumComboBox.cs
  Source/Editor/ViewportDebugDrawData.cs
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Engine/Renderer/Renderer.cs
  Source/Engine/Scripting/DotNet/MonoApi.cpp
  Source/Engine/UI/GUI/Common/RichTextBox.Parsing.cs
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, scripting

#869 .NET7: Fix plugin support
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Engine/Scripting/DotNet/CoreCLR.cpp
  Source/Engine/Scripting/DotNet/CoreCLR.h
  Source/Engine/Scripting/ManagedCLR/MCore.cpp
  Source/Engine/Scripting/Object.cs
  Source/Engine/Scripting/Scripting.cpp
  Source/Engine/Scripting/ScriptingObject.cpp
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, fix, scripting

#844 Fix input actions/axis lookups to not use StringView
  Source/Engine/Input/Input.cpp
Labels: input, fix

#849 Changed location of renaming box for ActorTreeNodes to start at the label for better UX.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: enhancement, editor

#852 Content view tree re-organization for better UX.
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor, ui

#855 Fix for Anchor drop down UI closing
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: editor, fix, ui

#856 Prevent spawning abstract type
  Source/Engine/Level/Actor.cs
  Source/Engine/Level/Actor.h
  Source/Engine/Level/Level.cpp
Labels: enhancement, scripting

#862 Added name as author
  Source/Editor/Windows/AboutDialog.cs
Labels: documentation

#857 Addition of cancel search button
  Source/Editor/GUI/Input/SearchBox.cs
  Source/Editor/GUI/ItemsListContextMenu.cs
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/ContentWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
  Source/Editor/Windows/Search/ContentSearchWindow.cs
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor, input

#858 Added hover begin and end event to button
  Source/Engine/UI/GUI/Common/Button.cs
Labels: enhancement, ui

#865 Center the context menu that is created from clicking the add scripts button on an actor
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
Labels: enhancement, editor

#870 .NET7: Minor fixes
  Source/Editor/Cooker/Steps/DeployDataStep.cpp
  Source/Editor/CustomEditors/CustomEditor.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Engine/Renderer/Renderer.cs
  Source/Engine/Scripting/DotNet/CoreCLR.cpp
  Source/Engine/Scripting/DotNet/MonoApi.cpp
  Source/Engine/Scripting/ManagedCLR/MUtils.h
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Api.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cpp.cs
  Source/Tools/Flax.Build/Bindings/FunctionInfo.cs
Labels: enhancement, scripting

#873 Serialize C++ includes cache results
  Source/Tools/Flax.Build/Build/Builder.cs
  Source/Tools/Flax.Build/Build/NativeCpp/IncludesCache.cs
Labels: enhancement, tools, performance

#874 GPUResource property glue generation fix for `Name`
  Source/Editor/Windows/Profiler/MemoryGPU.cs
Labels: editor, fix

#867 Fixed some CM buttons that shouldn't close when clicked.
  Source/Editor/Viewport/Previews/AnimatedModelPreview.cs
  Source/Editor/Viewport/Previews/ModelBasePreview.cs
  Source/Editor/Viewport/Previews/ModelPreview.cs
  Source/Editor/Viewport/Previews/ParticleEmitterPreview.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#876 Fixed skylight Actor to use skylight icon instead of point light icon
  Source/Editor/Utilities/ViewportIconsRenderer.cpp
Labels: editor, fix

#877 Fixed more CM buttons that shouldn't close
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#875 .NET7: Skip cached rules assembly after changing project references
  Source/Engine/Engine/NativeInterop.cs
  Source/Tools/Flax.Build/Build/Assembler.cs
Labels: tools, fix, scripting
