Repository FlaxEngine/FlaxEngine, pull requests merged in 2022-10, with the labels that each got.

#743 Flax.Build multiple fixes
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Build/Platform.cs
  Source/Tools/Flax.Build/Configuration.cs
  Source/Tools/Flax.Build/Deploy/Deployment.Editor.cs
  Source/Tools/Flax.Build/Deploy/Deployment.Platforms.cs
  Source/Tools/Flax.Build/Platforms/Linux/LinuxPlatform.cs
  Source/Tools/Flax.Build/Platforms/Linux/LinuxToolchain.cs
  Source/Tools/Flax.Build/Projects/ProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: enhancement, platform, tools, fix

#755 End Timeline Edge move with cursor
  Source/Editor/GUI/Timeline/GUI/TimelineEdge.cs
Labels: enhancement, editor, fix

#762 hide tooltip while dragging
  Source/Engine/UI/GUI/Control.cs
Labels: enhancement, ui

#756 Remove double click to rename content item
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/Content/Items/ContentItem.cs
Labels: editor

#758 Changed the content window so the search bars do not scroll with the content items
  Source/Editor/Content/Tree/ContentTreeNode.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#768 Mouse sliding fixes
  Source/Editor/GUI/Input/ValueBox.cs
  Source/Editor/GUI/Timeline/GUI/TimelineEdge.cs
  Source/Engine/Platform/Base/WindowBase.h
  Source/Engine/Platform/Windows/WindowsWindow.cpp
Labels: enhancement, input, fix, ui

#772 Fix math node size
  Source/Editor/Surface/Archetypes/Math.cs
Labels: enhancement, editor

#781 added cursor change for moving the property splitter
  Source/Editor/CustomEditors/GUI/PropertiesList.cs
Labels: enhancement, editor

#782 moved UpdateCameraPreview() call
  Source/Editor/Windows/EditGameWindow.cs
Labels: enhancement, editor

#785 added to not close the child context menu on click
  Source/Editor/GUI/ContextMenu/ContextMenuChildMenu.cs
Labels: enhancement, editor

#792 changed the default for script members order.
  Source/Editor/Options/GeneralOptions.cs
Labels: editor

#793 fixed position of child CMs when having to open left
  Source/Editor/GUI/ContextMenu/ContextMenuBase.cs
Labels: enhancement, editor

#796 Adjusted only the bounds for content items to be floored in the content view
  Source/Editor/Content/GUI/ContentView.cs
Labels: editor, fix

#801 Change triplanar texture scaling to `Float3`
  Source/Editor/Surface/Archetypes/Textures.cs
  Source/Engine/Tools/MaterialGenerator/MaterialGenerator.Textures.cpp
Labels: enhancement, graphics

#765 Changes/fixes.
  Source/Editor/Gizmo/TransformGizmoBase.Draw.cs
  Source/Editor/Gizmo/TransformGizmoBase.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Engine/Audio/AudioSource.cpp
  Source/Engine/Content/Cache/AssetsCache.cpp
  Source/Engine/Core/Types/String.cpp
  Source/Engine/Scripting/Scripting.cpp
  Source/Engine/Scripting/Scripting.h
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
Labels: enhancement, editor, scripting

#802 Moved where tooltip is hidden when starting drag drop
  Source/Engine/UI/GUI/Control.cs
Labels: enhancement, editor, ui

#798 Added KeyDown and KeyUp event to TextBoxBase
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, ui
