Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-12, with the labels that each got.

#2017 Make `SloppyOptimization` false by default.
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, graphics, content

#2025 Change `ScaleWithResolution` defaults in Canvas Scalar
  Source/Editor/SceneGraph/Actors/UICanvasNode.cs
  Source/Engine/UI/GUI/CanvasScaler.cs
Labels: enhancement, ui

#2026 Fix layout of editor updating when adding a script to multiple actors in a scene.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
Labels: editor, fix

#2042 Fix blending additive animations.
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: fix, animations

#2043 Add infinite loop to behavior tree 'Loop' decorator.
  Source/Engine/AI/BehaviorTreeNodes.cpp
  Source/Engine/AI/BehaviorTreeNodes.h
Labels: enhancement, ai

#2064 Fix freeze when prefab ID is empty.
  Source/Editor/CustomEditors/Dedicated/ModelPrefabEditor.cs
Labels: editor, fix, prefabs

#2046 Removed "Useless" Division
  Source/Engine/Engine/Time.cpp
Labels: enhancement, performance

#2051 Add ability to change default Android screen orientation.
  Source/Editor/Cooker/Platform/Android/AndroidPlatformTools.cpp
  Source/Engine/Platform/Android/AndroidPlatformSettings.h
  Source/Platforms/Android/Binaries/Project/app/src/main/AndroidManifest.xml
Labels: enhancement, platform

#2054 Scale up drop down items with text height as needed.
  Source/Engine/UI/GUI/Common/Dropdown.cs
Labels: enhancement, ui

#2066 Fix plugin clone and loading
  Source/Editor/Windows/PluginsWindow.cs
Labels: editor, fix

#2048 Fix default prefab instance not taking into account root position.
  Source/Engine/Level/Prefabs/Prefab.cpp
Labels: fix, prefabs

#2063 Implement auto-sizing for box colliders when they are added to the scene.
  Source/Editor/SceneGraph/Actors/BoxColliderNode.cs
  Source/Engine/Level/Actors/BoxCollider.cs
Labels: enhancement, level

#2003 add load scene add. to context menus
  Source/Editor/Content/Proxy/SceneProxy.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
Labels: enhancement, editor

#2020 fix Linux windows and docking, add mouse tracking
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/Linux/LinuxPlatform.h
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: platform, fix

#2091 Fix Visual Studio build issues with C# projects when engine path has spaces
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#2093 Fix .NET runtime packaging with installed .NET 8 SDK
  Source/Editor/Cooker/Steps/DeployDataStep.cpp
Labels: fix, scripting

#2095 Add saved colors to color picker.
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
Labels: enhancement, editor

#2097 Fix several actor types performing default spawn behavior when spawning from a prefab.
  Source/Editor/SceneGraph/Actors/BoxColliderNode.cs
  Source/Editor/SceneGraph/Actors/SplineNode.cs
  Source/Editor/SceneGraph/Actors/SpriteRenderNode.cs
  Source/Editor/SceneGraph/Actors/TextRenderNode.cs
  Source/Editor/SceneGraph/Actors/UICanvasNode.cs
Labels: editor, fix

#2105 Add selecting actor spawned in the prefab window.
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
Labels: enhancement, editor

#2106 Add color box to `ColorTrackBall`.
  Source/Editor/CustomEditors/Editors/ColorTrackball.cs
Labels: enhancement, editor
