Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-05, with the labels that each got.

#1063 .NET7: Prevent weak managed handle collections during long operations
  Source/Engine/Engine/NativeInterop.Managed.cs
Labels: fix, scripting

#1064 .NET7: Try to reuse previously allocated buffers in pooled ManagedArrays
  Source/Engine/Engine/NativeInterop.Managed.cs
Labels: enhancement, scripting

#1065 .NET7: Improve custom attributes caching in managed classes
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: enhancement, scripting

#1061 Add == operator for Actors and Scripts
  Source/Engine/Scripting/Object.cs
Labels: fix, scripting

#1037 Typo fixes
  Source/Engine/Level/Actor.h
  Source/Engine/Level/Types.h
Labels: documentation, fix

#1038 Add setting new material instance name to parent material name
  Source/Editor/Content/Proxy/MaterialProxy.cs
Labels: enhancement, editor

#1043 Increase size of add node so that vector3 fits correctly
  Source/Editor/Surface/Archetypes/Math.cs
Labels: editor, fix, visject

#1051 Fix bug with not deleting all children on folder delete
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: editor, fix

#1059 Small change in particle window
  Source/Editor/Windows/Assets/ParticleSystemWindow.cs
Labels: enhancement, editor

#1067 fix doc
  Source/Editor/CustomEditors/Elements/ComboBoxElement.cs
Labels: documentation, fix

#1072 Fix bug of the collection size changing while sliding the size number
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
  Source/Editor/CustomEditors/Editors/DictionaryEditor.cs
Labels: editor, fix

#1031 Fix managed scripting object handles created in managed side
  Source/Engine/Scripting/ScriptingObject.cpp
Labels: fix, scripting

#1025 Add saving and re-opening all active scenes between editor sessions.
  Source/Editor/Editor.cs
Labels: enhancement, editor

#1046 Fix collision assets creation in non asset folders.
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1041 `ViewportIconsRenderer::AddActorWithTexture` addition
  Source/Editor/Utilities/ViewportIconsRenderer.cpp
  Source/Editor/Utilities/ViewportIconsRenderer.h
Labels: enhancement, editor, graphics

#1034 Add "GetSubTags" to "Tags"
  Source/Engine/Level/Tags.cpp
  Source/Engine/Level/Tags.h
Labels: enhancement, scripting

#1020 Ensure prefab actors static flags match parent flags or keeps it's own.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: enhancement, editor

#1048 Fix `LayersMatrixEditor`
  Source/Editor/CustomEditors/Dedicated/LayersMatrixEditor.cs
Labels: editor, fix

#1077 Make `DebugDraw` render lines with unlit `PS`
  Source/Engine/Debug/DebugDraw.cpp
  Source/Shaders/DebugDraw.shader
Labels: enhancement, editor, graphics

#1085 Format Content Window Tooltips Better, Including Types On Everything.
  Source/Editor/Content/Items/AssetItem.cs
  Source/Editor/Content/Items/ContentFolder.cs
  Source/Editor/Content/Items/ContentItem.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Utilities/Utils.cs
Labels: enhancement, editor

#924 Added Play, pause, and stop functions to particle effect
  Source/Engine/Particles/ParticleEffect.cpp
  Source/Engine/Particles/ParticleEffect.h
Labels: enhancement, particles

#1102 .NET7: Fix resolving managed scripts references in Editor
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Engine/NativeInterop.cs
Labels: fix, scripting

#987 Add LateFixedUpdate event for scripts
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Engine/Engine.h
  Source/Engine/Engine/EngineService.cpp
  Source/Engine/Engine/EngineService.h
  Source/Engine/Level/Scene/SceneTicking.cpp
  Source/Engine/Level/Scene/SceneTicking.h
  Source/Engine/Scripting/Script.cpp
  Source/Engine/Scripting/Script.h
  Source/Engine/Scripting/Scripting.cpp
  Source/Engine/Scripting/Scripting.cs
Labels: enhancement, physics, scripting

#1086 Make the UI for linking scale values in a transform more intuitive and easier to use.
  Source/Editor/Content/Items/ContentItem.cs
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
  Source/Editor/Utilities/Utils.cs
  Source/Engine/UI/GUI/Common/Button.cs
  Source/Engine/UI/GUI/Common/IconButton.cs
Labels: enhancement, editor, ui

#1105 Fix `NetworkManager::ClientConnected` dispatch regression
  Source/Engine/Networking/NetworkManager.cpp
Labels: fix, networking

#1106 Fix `NetworkReplicator::SetObjectOwnership` not considering spawn queue for hierarchical assignment
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: fix, networking

#1110 .NET7: Enable roll-forward to latest .NET major preview version
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: enhancement, scripting

#1109 Eyedropper color picker implementation for Windows and Linux
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
  Source/Editor/Utilities/ScreenUtilities/ScreenUtilities.h
  Source/Editor/Utilities/ScreenUtilities/ScreenUtilitiesLinux.cpp
  Source/Editor/Utilities/ScreenUtilities/ScreenUtilitiesMac.cpp
  Source/Editor/Utilities/ScreenUtilities/ScreenUtilitiesWindows.cpp
  Source/Editor/Utilities/Utils.cs
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/Linux/LinuxPlatform.h
  Source/Engine/UI/GUI/Common/IconButton.cs
  Source/Engine/Utilities/Screenshot.cpp
Labels: enhancement, editor

#1119 Implement `INetworkObject::OnNetworkSync`
  Source/Engine/Networking/INetworkObject.h
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: enhancement, networking

#1120 `Utilities::BytesToText` -> `Utilities::UnitsToText`
  Source/Engine/Core/Utilities.h
Labels: enhancement, scripting

#1121 Prefer high-performance discrete GPUs when enumerating adapters
  Source/Engine/GraphicsDevice/DirectX/DX11/GPUDeviceDX11.cpp
  Source/Engine/GraphicsDevice/DirectX/DX12/GPUDeviceDX12.cpp
  Source/Engine/GraphicsDevice/DirectX/IncludeDirectXHeaders.h
  Source/Engine/GraphicsDevice/Vulkan/GPUDeviceVulkan.cpp
Labels: enhancement, graphics

#1124 Copy content files using Content Database instead of Content Importing
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1128 Change default script name to MyScript
  Source/Editor/Content/Proxy/ScriptProxy.cs
Labels: enhancement, editor

#1130 Fix DXGIFactory use after release
  Source/Engine/GraphicsDevice/DirectX/DX11/GPUDeviceDX11.cpp
  Source/Engine/GraphicsDevice/DirectX/DX12/GPUDeviceDX12.cpp
Labels: graphics, fix

#1131 Fix linking errors when referencing static members in engine classes
  Source/Engine/Graphics/Enums.h
  Source/Engine/Graphics/GPUPipelineState.h
  Source/Engine/Profiler/ProfilingTools.h
Labels: fix, scripting
