Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-08, with the labels that each got.

#1273 `ShadowOfMordor` terrain fix
  Source/Engine/ShadowsOfMordor/Builder.Jobs.cpp
Labels: graphics, fix

#1275 Add grid scale to the editor viewport settings
  Source/Editor/Gizmo/GridGizmo.cs
  Source/Editor/Options/ViewportOptions.cs
Labels: enhancement, editor

#1283 Fix build issues in Visual Studio 2022 Preview 5
  Source/ThirdParty/fmt/format.h
Labels: core, fix

#1286 Skip post processing when tonemapping and camera artifacts are disabled
  Source/Engine/Renderer/PostProcessingPass.cpp
Labels: enhancement, graphics

#1287 Fix WindowsPlatform::LoadLibrary to not modify the string parameter
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
Labels: crash, platform, fix

#1296 Fix exposed public CommonValue inclusion
  Source/Engine/Particles/Graph/CPU/ParticleEmitterGraph.CPU.ParticleModules.cpp
  Source/Engine/Particles/Graph/GPU/ParticleEmitterGraph.GPU.cpp
  Source/Engine/Particles/Graph/ParticleEmitterGraph.h
  Source/Engine/Particles/ParticleEffect.cpp
  Source/Engine/Particles/ParticleEmitter.h
  Source/Engine/Particles/ParticleSystem.cpp
  Source/Engine/Particles/ParticlesSimulation.cpp
  Source/Engine/Particles/ParticlesSimulation.h
Labels: fix, scripting

#1294 `NetworkReplicator::EndInvokeRPC` fix annoying error that happens due to an oversight
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: enhancement, networking

#1301 Remove another unnecessary exposed `CommonValue.h`
  Source/Engine/Particles/Graph/ParticleEmitterGraph.h
Labels: enhancement, scripting

#1302 Add build option to change code optimization level in C# modules
  Source/Editor/Editor.Build.cs
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: enhancement, tools

#1303 Expose `Object::DeleteObjectNow` as `Object.DestroyNow` in scripting
  Source/Engine/Scripting/Object.cs
  Source/Engine/Scripting/ScriptingObject.cpp
Labels: enhancement, scripting

#1307 .NET7: Cache pooled ManagedArray managed handles
  Source/Engine/Engine/NativeInterop.Managed.cs
  Source/Engine/Engine/NativeInterop.Marshallers.cs
Labels: enhancement, fix, scripting

#1308 .NET7: Slightly improve `MClass::GetMethod` method iteration
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: enhancement, scripting, performance

#1310 .NET7: Optimize managed method invokers return value marshalling
  Source/Engine/Engine/NativeInterop.Invoker.cs
Labels: enhancement, scripting, performance

#1311 .NET7: Refactor ManagedHandlePool
  Source/Engine/Engine/NativeInterop.Managed.cs
Labels: enhancement, scripting, performance

#1270 Paste at same level as selected actor parent node instead of under selected node
  Source/Editor/Modules/SceneEditingModule.cs
  Source/Editor/Windows/Assets/PrefabWindow.Actions.cs
Labels: enhancement, editor

#1293 Refactor and more appropriately organize logic
  Source/Editor/Editor.cs
  Source/Editor/Modules/SimulationModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Windows/GameWindow.cs
  Source/Editor/Windows/SceneEditorWindow.cs
Labels: enhancement, editor

#1300 `NetworkReplicator::ResolveForeignObject`
  Source/Engine/Networking/NetworkReplicator.cpp
  Source/Engine/Networking/NetworkReplicator.h
Labels: enhancement, networking

#1288 Fix navigation rebuilding
  Source/Engine/Navigation/NavMeshBoundsVolume.cpp
Labels: fix, navigation

#1299 Add locked focus
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
Labels: enhancement, editor

#1305 Cache ManagedDictionary types and helper methods
  Source/Engine/Scripting/Internal/ManagedDictionary.cpp
  Source/Engine/Scripting/Internal/ManagedDictionary.h
Labels: enhancement, scripting, performance

#1320 Optimize actor pasting performance with huge amount of actors
  Source/Editor/Undo/Actions/PasteActorsAction.cs
Labels: editor, performance

#1322 Fix Variant move assignment operator with managed objects
  Source/Engine/Core/Types/Variant.cpp
Labels: fix, scripting

#1315 Add borderless window switch at runtime on Windows platform
  Source/Engine/Engine/Screen.cpp
  Source/Engine/Engine/Screen.h
  Source/Engine/Platform/Base/WindowBase.h
  Source/Engine/Platform/Windows/WindowsWindow.cpp
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: enhancement, platform

#1316 Add ability to clean terrain patch caches
  Source/Engine/Terrain/TerrainPatch.cpp
  Source/Engine/Terrain/TerrainPatch.h
Labels: enhancement, terrain

#1325 Add simple way to remove button border.
  Source/Engine/UI/GUI/Common/Button.cs
Labels: enhancement, ui

#1326 Remove popup from appearing if the content item cannot be renamed.
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1327 Add not closing some cm buttons on clicked
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Editor/Viewport/Previews/AnimatedModelPreview.cs
  Source/Editor/Viewport/Previews/AssetPreview.cs
  Source/Editor/Viewport/Previews/ModelPreview.cs
  Source/Editor/Viewport/Previews/ParticleSystemPreview.cs
  Source/Editor/Viewport/Previews/SkinnedModelPreview.cs
Labels: enhancement, editor

#1332 Add timeline position numbers and add to GUI.
  Source/Editor/GUI/Timeline/GUI/Background.cs
  Source/Editor/GUI/Timeline/GUI/PositionHandle.cs
  Source/Editor/GUI/Timeline/Timeline.UI.cs
  Source/Editor/GUI/Timeline/Timeline.cs
Labels: enhancement, editor, animations

#1334 Prevent AbstractWrapper from showing in Add AnimEvent CM.
  Source/Editor/GUI/Timeline/Tracks/AnimationEventTrack.cs
Labels: enhancement, editor, animations

#1336 Stop replication if `NetworkManager::NetworkFPS` < 0
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: enhancement, networking

#1338 Fix crash with XAudio2 backend when source is playing
  Source/Engine/Audio/XAudio2/AudioBackendXAudio2.cpp
Labels: crash, audio, fix

#1339 Add not closing content filter cm on click
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#1346 Show Json Asset Type on ToolStrip of Json Asset Window.
  Source/Editor/Windows/Assets/JsonAssetWindow.cs
Labels: enhancement, editor

#1347 Add tab breaks for window tabs.
  Source/Editor/GUI/Docking/DockPanelProxy.cs
Labels: enhancement, editor, ui
