Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-07, with the labels that each got.

#1224 Fix garbage DefaultScene value in new projects
  Source/Editor/ProjectInfo.h
Labels: editor, fix

#1231 Fix managed library location resolver
  Source/Engine/Engine/NativeInterop.cs
Labels: core, fix

#1232 Support line-breaks in API_INJECT_CODE macro
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
Labels: enhancement, tools

#1223 Remove old hot-reload files in project references
  Source/Editor/Scripting/ScriptsBuilder.cpp
Labels: enhancement, editor

#1236 Remove stray debug.log
  Source/Editor/CustomEditors/Editors/TagEditor.cs
Labels: editor, fix

#1246 Fix releasing non-collectible types with collectible generic types
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
Labels: fix, scripting

#1247 Add showing rendering material to model entries
  Source/Editor/CustomEditors/Editors/AssetRefEditor.cs
  Source/Editor/CustomEditors/Editors/ModelInstanceEntryEditor.cs
  Source/Engine/Graphics/GPUDevice.h
Labels: enhancement, editor

#1248 Add functionality to combine similar debug logs into a log with a count.
  Source/Editor/Windows/DebugLogWindow.cs
Labels: enhancement, editor

#1260 Fix bug of populating asset picker if option platform type does not exist.
  Source/Editor/CustomEditors/Editors/AssetRefEditor.cs
Labels: editor, fix

#1264 Add `params` tag to `API_PARAM` for C# variadic parameters support
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cache.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
  Source/Tools/Flax.Build/Bindings/FunctionInfo.cs
Labels: enhancement, tools, scripting

#1265 Add scroll to selected asset/content item on asset picker select menu open.
  Source/Editor/GUI/AssetPicker.cs
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor

#1263 Fix visibility of string wrapper methods used in binding code
  Source/Engine/Engine/NativeInterop.Managed.cs
Labels: core, fix

#1267 math classes. doc fixes and UnwindRadians/UnwindDegrees has fixed cost
  Source/Engine/Core/Math/Mathd.cs
  Source/Engine/Core/Math/Mathf.cs
Labels: enhancement, core

#1268 Fix API_INJECT_CODE injecting duplicated code
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: tools, fix

#1261 Add batch creating prefabs from multiple selected actors in the scene tree.
  Source/Editor/Content/GUI/ContentView.DragDrop.cs
  Source/Editor/Modules/PrefabsModule.cs
Labels: enhancement, editor

#1215 add play button actions, number of players
  Source/Editor/GUI/ContextMenu/ContextMenuSingleSelectGroup.cs
  Source/Editor/GUI/ToolStrip.cs
  Source/Editor/GUI/ToolStripButton.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/GameCookerWindow.cs
  Source/Editor/Windows/Profiler/ProfilerWindow.cs
Labels: enhancement, editor

#1271 Fix duplicating actor in scene on shift click if the actor has not been moved
  Source/Editor/Gizmo/TransformGizmoBase.cs
Labels: editor, fix

#1280 .NET7: Implement a generic version of `AssetReferenceAttribute`
  Source/Engine/Scripting/Attributes/Editor/AssetReferenceAttribute.cs
Labels: enhancement, scripting

#1281 .NET7: Add common .NET SDK preprocessor definitions
  Source/Engine/Scripting/Scripting.Build.cs
Labels: enhancement, tools, scripting

#1282 .NET7: Support user defined analyzers/source generators in Flax.Build
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
Labels: enhancement, tools, scripting
