Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-09, with the labels that each got.

#1355 Improve progress bar
  Source/Engine/UI/GUI/Common/ProgressBar.cs
Labels: enhancement, ui

#1356 Add a way to reset an IBrush to null for default functionality.
  Source/Editor/CustomEditors/Editors/IBrushEditor.cs
  Source/Editor/CustomEditors/Editors/ObjectSwitcherEditor.cs
Labels: enhancement, editor, ui

#1371 Cache cloth gizmo values
  Source/Editor/CustomEditors/Dedicated/ClothEditor.cs
Labels: enhancement, editor

#1357 Add remove tag method to actor.
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.h
Labels: enhancement, scripting

#1358 Improve content item in tile view.
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/Content/Items/ContentItem.cs
Labels: enhancement, editor

#1359 Sort plugin projects in content tree.
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#1363 .NET7: Fix managed UTF-8 string allocation not using correct encoding
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: core, fix

#1364 Fix right click deselecting scene tree nodes.
  Source/Editor/GUI/Tree/TreeNode.cs
Labels: enhancement, editor, ui

#1366 Add slider control.
  Source/Engine/UI/GUI/Common/Slider.cs
Labels: enhancement, ui

#1368 `WindowBase::Resized` delegate
  Source/Engine/Platform/Base/WindowBase.cpp
  Source/Engine/Platform/Base/WindowBase.h
Labels: enhancement, core

#1369 Fix for #1365
  Source/Engine/Physics/Colliders/CharacterController.cpp
Labels: editor, fix, level

#1372 add DebugDraw::DrawRay
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.cs
  Source/Engine/Debug/DebugDraw.h
Labels: enhancement, graphics

#1266 Content Browser Improvement [ready]
  Source/Editor/Content/ContentFilter.cs
  Source/Editor/Content/GUI/ContentNavigationBar.cs
  Source/Editor/Content/GUI/ContentNavigationButton.cs
  Source/Editor/Content/GUI/ContentNavigationButtonSeparator.cs
  Source/Editor/Content/GUI/ContentSettingsDropdown.cs
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/Content/Items/ContentItem.cs
  Source/Editor/GUI/ComboBox.cs
  Source/Editor/Windows/ContentWindow.Navigation.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#1335 Add automated plugin project creation and Git cloning.
  Source/Editor/Editor.Build.cs
  Source/Editor/Windows/PluginsWindow.cs
Labels: enhancement, editor

#1291 Add recursive methods for layers/tags
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.h
Labels: enhancement, scripting

#1317 Add to be able to choose sloppy mesh simplification or not in model import settings for LODs
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, graphics

#1345 Add more physics settings.
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/PhysicsSettings.h
Labels: enhancement, physics, performance

#1262 Add `InputEvent` and `InputAxis` editors.
  Source/Editor/CustomEditors/Editors/InputEditor.cs
  Source/Engine/UI/GUI/CanvasRootControl.cs
  Source/Engine/UI/UICanvas.cs
Labels: enhancement, editor, ui

#1292 Add options to edit splines
  Source/Editor/CustomEditors/Dedicated/SplineEditor.cs
  Source/Editor/SceneGraph/Actors/SplineNode.cs
Labels: enhancement, editor, level

#1360 Optimize PhysX collision event handling and onContact callback
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/PhysX/SimulationEventCallbackPhysX.cpp
  Source/Engine/Physics/PhysX/SimulationEventCallbackPhysX.h
Labels: physics, performance

#1319 Use mutex over atomic operations in `Delegate`
  Source/Engine/Core/Delegate.h
  Source/Engine/Scripting/Scripting.cpp
Labels: core, performance

#1402 Fix assets getting deleted when modified by external applications
  Source/Editor/Modules/ContentDatabaseModule.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1414 Fixing x64 editor/runtime on M1/2 macs
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: platform, fix

#1390 Fix detect Rider on Linux platform installed from newest versions toolbox
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: editor, tools, fix

#1391 Fixes Rider 2022 not being detected when installed with toolbox - Windows
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: editor, tools, fix

#1421 MacOS Rider Support
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
  Source/Engine/Platform/Mac/MacPlatform.cpp
Labels: enhancement, platform, editor, tools

#1422 Fixing Flax.Build issues on M1/2 macs
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: platform, fix

#1424 Fixing a crash when generic classes spanned across different assemblies
  Source/Engine/Scripting/BinaryModule.cpp
Labels: fix, scripting

#1425 iphonesdk is not required to build macOS Editor
  Source/Tools/Flax.Build/Platforms/iOS/iOSPlatform.cs
Labels: enhancement, platform, tools

#1398 .NET7: Include EditorModules in Assembly lookup paths
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/Engine/Tests/TestScripting.cs
Labels: tools, fix, scripting

#1399 .NET7: Improve hostfxr error messages
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: enhancement, core, scripting

#1401 .NET8: Add missing marshaller methods for compatibility
  Source/Engine/Engine/NativeInterop.Marshallers.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, core, tools, scripting

#1403 Increase size of clamp node to handle vector4.
  Source/Editor/Surface/Archetypes/Math.cs
Labels: editor, fix, visject

#1404 Don't treat '.' in folder names as extensions.
  Source/Editor/Modules/ContentEditingModule.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1406 Add highlighting when mouse is over slider thumb.
  Source/Engine/UI/GUI/Common/Slider.cs
Labels: enhancement, ui

#1389 Fix opening FlaxEditor window in Linux after launch project second time
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: platform, fix

#1388 Improving dotnet location search
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, tools

#1442 [Linux] Use `xdg-open` to open file manager
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
Labels: platform, fix

#1448 Generate project files at startup when project Cache was cleared
  Source/Editor/States/LoadingState.cs
Labels: enhancement, editor, tools

#1454 macOS support fixes
  Source/Editor/Scripting/ScriptsBuilder.cpp
  Source/Engine/Platform/Apple/ApplePlatform.cpp
  Source/Engine/Platform/Apple/AppleUtils.h
  Source/Engine/Platform/FileSystemWatcher.h
  Source/Engine/Platform/Mac/MacFileSystem.cpp
  Source/Engine/Platform/Mac/MacFileSystemWatcher.cpp
  Source/Engine/Platform/Mac/MacFileSystemWatcher.h
  Source/Engine/Platform/Mac/MacPlatform.cpp
  Source/Engine/Platform/Types.h
Labels: enhancement, platform, editor, tools, fix

#1458 Allow for better support for running on m1/2 machines
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
  Source/Tools/Flax.Build/Platforms/Mac/MacPlatform.cs
Labels: tools, fix

#1462 Update build scripts to detect only supported versions of MSBuild
  Development/Scripts/Windows/CallBuildTool.bat
  Development/Scripts/Windows/GetMSBuildPath.bat
  README.md
Labels: documentation, enhancement, tools, fix

#1466 Prevent generating VS configurations for Win32 and engine projects
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: enhancement, tools

#1460 Fix white window flickering in context menus
  Source/Editor/GUI/Docking/DockHintWindow.cs
  Source/Engine/Platform/CreateWindowSettings.cs
  Source/Engine/Platform/CreateWindowSettings.h
Labels: platform, graphics, fix

#1474 Ensure ShaderGraphValue floating numbers are formatted with enough precision
  Source/Engine/Visject/ShaderGraphValue.cpp
Labels: enhancement, fix, visject

#1480 Create VS folder structure for BuildScripts and FlaxEngine source files
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
Labels: enhancement, tools

#1481 Fix script reload crash with .NET libraries
  Source/Engine/Engine/NativeInterop.cs
Labels: crash, core, fix, scripting

#1493 Fix not capturing the the Debug.Log line in the DebugLogWindow
  Source/Editor/Windows/DebugLogWindow.cs
Labels: editor, fix

#1494 Launching Rider on macOS
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
  Source/Engine/Platform/Apple/ApplePlatform.cpp
Labels: editor, tools, fix

#1495 Fixing non-windows platforms csproj files
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
  Source/Tools/Flax.Build/Utilities/Utilities.cs
Labels: tools, fix

#1461 Fix being able to create folder from project folder.
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
Labels: enhancement, editor

#1468 Prevent editor window from maximizing/ minimizing on menu button double click
  Source/Editor/GUI/MainMenu.cs
Labels: editor, fix

#1479 Visject QoL: Ignore whitespace when opening context menu with spacebar
  Source/Editor/Surface/VisjectSurface.Input.cs
Labels: enhancement, editor, visject

#1488 Fix issue with copying and pasting in same folder.
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1498 Fix exceptions in Debug Log Window not using correct line numbers
  Source/Editor/Windows/DebugLogWindow.cs
Labels: editor, fix

#1503 ContainerControl: Implemented shift + tab support
  Source/Editor/GUI/Dialogs/Dialog.cs
  Source/Editor/Windows/EditorWindow.cs
  Source/Engine/UI/GUI/ContainerControl.cs
  Source/Engine/UI/GUI/Control.cs
  Source/Engine/UI/GUI/Enums.cs
Labels: enhancement, editor, ui

#1463 Fix right clicking on source folder to sometimes select non-visible child
  Source/Engine/UI/GUI/ContainerControl.cs
Labels: fix, ui

#1490 Add filter to content window to hide generated files.
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#1515 Fix Slider clipping left most pixel. Add more border options to several controls.
  Source/Engine/UI/GUI/Common/Button.cs
  Source/Engine/UI/GUI/Common/CheckBox.cs
  Source/Engine/UI/GUI/Common/Slider.cs
  Source/Engine/UI/GUI/Common/TextBox.cs
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, ui

#1527 Update SerializeAttribute.cs
  Source/Engine/Scripting/Attributes/SerializeAttribute.cs
Labels: documentation, enhancement

#1528 Fix string use-after-free while loading managed assemblies
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: crash, core, fix

#892 Allow unsubscribing from managed events multiple times
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: scripting

#1521 Fix editor window closing when using camera flight
  Source/Editor/Windows/EditorWindow.cs
Labels: editor, fix

#1538 Always generate additional Visual Studio solution files for all platforms
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Configuration.cs
  Source/Tools/Flax.Build/Projects/Project.cs
  Source/Tools/Flax.Build/Projects/ProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VCProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProject.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/XCodeProjectGenerator.cs
Labels: enhancement, editor, tools

#1539 Show full exception message in error message box for managed exceptions
  Source/Engine/Core/Log.cpp
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
  Source/Engine/Scripting/Scripting.cs
Labels: enhancement, platform, core

#1540 Possible improvements for Clang detection
  Source/Tools/Flax.Build/Platforms/Linux/LinuxPlatform.cs
  Source/Tools/Flax.Build/Platforms/Unix/UnixPlatform.cs
Labels: enhancement, platform, tools

#1383 Lazy allocate mutex in `Delegate`
  Source/Engine/Core/Delegate.h
Labels: enhancement, performance

#1312 .NET7: Optimize ScriptingObject managed initialization and marshalling
  Source/Engine/Engine/NativeInterop.Invoker.cs
  Source/Engine/Engine/NativeInterop.Marshallers.cs
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Scripting/ManagedCLR/MAssembly.h
  Source/Engine/Scripting/ManagedCLR/MCore.cpp
  Source/Engine/Scripting/ManagedCLR/MCore.h
  Source/Engine/Scripting/ManagedCLR/MField.h
  Source/Engine/Scripting/Object.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/Engine/Scripting/Runtime/Mono.cpp
  Source/Engine/Scripting/Runtime/None.cpp
  Source/Engine/Scripting/ScriptingObject.cpp
  Source/Engine/Scripting/ScriptingObject.h
Labels: enhancement, core, scripting, performance

#1412 Add more Editor input binding options
  Source/Editor/Editor.cs
  Source/Editor/GUI/ContextMenu/ContextMenu.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InputBinding.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
  Source/Editor/Windows/ContentWindow.cs
  Source/Editor/Windows/DebugLogWindow.cs
  Source/Editor/Windows/GameWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Editor/Windows/Profiler/ProfilerWindow.cs
  Source/Editor/Windows/SceneEditorWindow.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor, input

#1470 Prevent initial editor window from covering the task bar on restore of windows window
  Source/Editor/Modules/WindowsModule.cs
Labels: platform, editor

#1496 Add popup to editor options closing to remind the user to save.
  Source/Editor/Windows/EditorOptionsWindow.cs
Labels: enhancement, editor

#1514 Add tooltips to move with the mouse cursor.
  Source/Engine/UI/GUI/Tooltip.cs
Labels: enhancement, editor
