Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-01, with the labels that each got.

#881 Remove UWP platform from deployer script to fix platform packaging
  Source/Tools/Flax.Build/Deploy/Deployer.cs
Labels: platform, tools, fix

#882 .NET7: Implement ManagedHandle replacement for GCHandles
  Source/Editor/Content/Import/TextureImportEntry.cs
  Source/Engine/Animations/AnimationGraph.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Engine/Scripting/Scripting.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, scripting

#887 .NET7: Hide types in unloaded scripting assemblies
  Source/Editor/Plugins/PluginUtils.cs
  Source/Editor/Scripting/TypeUtils.cs
  Source/Engine/Content/JsonAsset.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Utilities/Utils.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, scripting

#889 Fix in visject cm sometimes not populating all options once search box is cleared.
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
Labels: editor, fix

#863 Added auto save reminder popup
  Source/Editor/Editor.cs
  Source/Editor/GUI/Popups/AutoSavePopup.cs
  Source/Editor/Options/GeneralOptions.cs
Labels: enhancement, editor

#872 Procedural Texture Sampling Material Node
  Source/Editor/Surface/Archetypes/Textures.cs
  Source/Engine/Tools/MaterialGenerator/MaterialGenerator.Textures.cpp
Labels: enhancement, graphics

#880 First property name letter to upper case fix
  Source/Editor/Utilities/Utils.cs
  Source/Tools/FlaxEngine.Tests/TestPropertyNameUI.cs
Labels: enhancement, editor

#883 Fixed missing the scene animation proxy from the content context menu
  Source/Editor/Content/Proxy/SceneAnimationProxy.cs
Labels: editor, fix

#843 Core classes Random & RandomStream port to C#
  Source/Engine/Engine/RandomStream.cs
  Source/Engine/Engine/RandomUtil.cs
Labels: enhancement, scripting

#879 Custom editor game viewport sizing
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#890 Small fix for auto save popup
  Source/Editor/GUI/Popups/AutoSavePopup.cs
Labels: editor, fix

#896 Update authors
  Source/Editor/Windows/AboutDialog.cs
Labels: documentation

#901 Fixed editor not saving added tags
  Source/Editor/Windows/Assets/AssetEditorWindow.cs
Labels: editor, fix

#902 Better tag picker
  Source/Editor/CustomEditors/Editors/TagEditor.cs
Labels: enhancement, editor

#888 Fix Intellisense issues with Visual Studio Code
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: enhancement, tools, scripting

#893 .NET7: Marshalling fixes
  Source/Editor/Content/Import/ModelImportEntry.cs
  Source/Editor/Content/Import/TextureImportEntry.cs
  Source/Editor/Editor.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Engine/NativeInterop_Invoker.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: fix, scripting

#894 .NET7: Generate C# debugger launch profiles for VSCode
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: enhancement, tools, scripting

#898 Fix rename popup from not focusing and selecting text.
  Source/Editor/GUI/Popups/RenamePopup.cs
Labels: editor, fix

#905 Organize new actor CM better
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
  Source/Editor/Windows/ToolboxWindow.cs
  Source/Engine/Physics/Actors/WheeledVehicle.h
  Source/Engine/Physics/Colliders/BoxCollider.h
  Source/Engine/Physics/Colliders/CapsuleCollider.h
  Source/Engine/Physics/Colliders/MeshCollider.h
  Source/Engine/Physics/Colliders/SphereCollider.h
  Source/Engine/Physics/Joints/D6Joint.h
  Source/Engine/Physics/Joints/DistanceJoint.h
  Source/Engine/Physics/Joints/FixedJoint.h
  Source/Engine/Physics/Joints/HingeJoint.h
  Source/Engine/Physics/Joints/SliderJoint.h
  Source/Engine/Physics/Joints/SphericalJoint.h
Labels: enhancement, editor

#907 changed `QueryFilterHelper.MinLength` to 1 to start filtering after first character is entered.
  Source/Editor/Utilities/QueryFilterHelper.cs
Labels: enhancement, editor

#903 Various UI improvements around drop panels in the editor
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/CustomEditors/Elements/Container/GroupElement.cs
  Source/Editor/CustomEditors/LayoutElementsContainer.cs
  Source/Engine/UI/GUI/Panels/DropPanel.cs
Labels: enhancement, editor, ui
