Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-10, with the labels that each got.

#1513 Add showing only collision wireframe in `CollisionDataWindow`
  Source/Editor/Windows/Assets/CollisionDataWindow.cs
Labels: enhancement, editor

#1551 Fix tooltip crash
  Source/Engine/UI/GUI/Tooltip.cs
Labels: editor, fix, ui

#1554 Makes BaseLinesGapScale configurable for Label
  Source/Engine/UI/GUI/Common/Label.cs
Labels: enhancement, ui

#1555 Fix VisualScript method calls not working with value types
  Source/Engine/Scripting/BinaryModule.cpp
Labels: core, fix, scripting, visject

#1556 Rename new actor after creating it
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#1557 Change output window search and scroll bars to be like other windows.
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#1560 Fix bool editor when null.
  Source/Editor/CustomEditors/Editors/BooleanEditor.cs
Labels: bug, editor, fix

#1562 Fix build project generation under Arch linux
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: platform, tools, fix

#1567 Visual Studio Code build and launch task additions
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: enhancement, tools

#1568 Fix loading shared managed assemblies multiple times
  Source/Engine/Scripting/Scripting.cpp
Labels: fix, scripting

#1569 Build C# bindings after generating engine project files
  GenerateProjectFiles.bat
  GenerateProjectFiles.command
  GenerateProjectFiles.sh
Labels: enhancement, tools

#1570 Remap non-native Editor VS build configurations to native configurations
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#1571 Fix Visual Studio project folder GUIDs randomization during regeneration
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#1572 Expose Main Window to c# through Screen class.
  Source/Engine/Engine/Screen.cpp
  Source/Engine/Engine/Screen.h
Labels: enhancement, scripting

#1573 Fix `Actor.RotateAround` to rotate the actors orientation.
  Source/Engine/Level/Actor.cs
Labels: enhancement, scripting, level

#1574 Change base editor window size to 75% of desktop size when restored for the first time
  Source/Editor/Modules/WindowsModule.cs
Labels: enhancement, editor

#1575 Change blur panel to draw self. Fix issue with blur strength slider.
  Source/Engine/UI/GUI/Panels/BlurPanel.cs
Labels: fix, ui

#1407 SmoothDamp for Vector2 and Vector3
  Source/Engine/Core/Math/Vector2.cs
  Source/Engine/Core/Math/Vector3.cs
Labels: enhancement, core

#1410 Add several fixes toUI sizes when fonts are larger.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
  Source/Editor/CustomEditors/Editors/TagEditor.cs
  Source/Editor/GUI/Row.cs
  Source/Editor/Tools/Foliage/FoliageTab.cs
  Source/Editor/Tools/Terrain/CarveTab.cs
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Windows/AboutDialog.cs
Labels: enhancement, editor, ui

#1476 Customizable statusbar
  Source/Editor/Modules/ProgressReportingModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/OptionsModule.cs
  Source/Engine/Scripting/Scripting.cs
  Source/Engine/UI/GUI/Style.cs
Labels: enhancement, editor, ui

#1497 Visject: Bend connections around nodes
  Source/Editor/Surface/Elements/OutputBox.cs
Labels: enhancement, editor, visject

#1499 Refactor splash screen quotes
  Source/Editor/Windows/SplashScreen.cpp
Labels: editor, fix

#1520 Fix potential incorrect null checks in FlaxEngine.Objects
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/EditorAssets.cs
  Source/Editor/GUI/Timeline/SceneAnimationTimeline.cs
  Source/Editor/Tools/Foliage/FoliageTypesTab.cs
  Source/Editor/Tools/Foliage/PaintTab.cs
  Source/Editor/Tools/VertexPainting.cs
  Source/Editor/Undo/Actions/PasteActorsAction.cs
  Source/Editor/Viewport/Previews/ParticleSystemPreview.cs
  Source/Editor/Viewport/Previews/TexturePreview.cs
  Source/Editor/Windows/Assets/MaterialInstanceWindow.cs
  Source/Editor/Windows/Assets/ModelWindow.cs
  Source/Editor/Windows/Assets/ParticleSystemWindow.cs
  Source/Editor/Windows/Assets/SceneAnimationWindow.cs
  Source/Editor/Windows/Assets/SkinnedModelWindow.cs
  Source/Engine/Animations/SceneAnimations/SceneAnimationPlayer.cpp
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/UI/GUI/Brushes/GPUTextureBrush.cs
  Source/Engine/UI/GUI/Brushes/TextureBrush.cs
  Source/Engine/UI/UICanvas.cs
  Source/Engine/UI/UIControl.cs
Labels: fix, scripting

#1420 Better missing script handling
  Source/Editor/CustomEditors/Dedicated/MissingScriptEditor.cs
  Source/Engine/Level/Components/MissingScript.h
  Source/Engine/Level/SceneObjectsFactory.cpp
Labels: enhancement, editor, scripting

#1529 Add input states to `InputEvent` and `AxisChanged` to `InputAxis`
  Source/Engine/Engine/InputAxis.cs
  Source/Engine/Engine/InputEvent.cs
  Source/Engine/Input/Input.cpp
  Source/Engine/Input/Input.h
Labels: enhancement, input

#1583 Make it clearer what "Restore Materials on Reimport" means.
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: documentation, enhancement

#1588 Fix AnimatedModel box.
  Source/Engine/Level/Actors/AnimatedModel.cpp
Labels: fix, animations

#1590 Fix segfault: target can be null when font size is changed
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1596 Force windows window to be correct size when restoring window on maximize from minimize
  Source/Engine/Platform/Windows/WindowsWindow.cpp
Labels: platform, editor, fix

#1599 Add Game Settings open button to Edit menu.
  Source/Editor/Modules/UIModule.cs
Labels: enhancement, editor

#1333 Update cs script template to use non-indented namespace.
  Content/Editor/Scripting/ScriptTemplate.cs
Labels: enhancement, editor, scripting

#1396 Add collision type to model importer
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, content

#1604 Move custom pugixml changes to pugixml_extra
  Source/Editor/Cooker/Platform/Mac/MacPlatformTools.cpp
  Source/ThirdParty/pugixml/pugixml.cpp
  Source/ThirdParty/pugixml/pugixml.hpp
  Source/ThirdParty/pugixml/pugixml_extra.cpp
  Source/ThirdParty/pugixml/pugixml_extra.hpp
Labels: enhancement, core

#1506 Fix invalid characters in generated C# launch settings paths
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#1605 Fix particle effects not working properly at high framerate
  Source/Engine/Particles/Particles.cpp
Labels: fix, particles

#859 Fix issue of game window not returning focus to parent on mouse leave.
  Source/Editor/Windows/GameWindow.cs
Labels: editor, fix, ui

#1115 Add the option to import materials for a model as instances of another material in the project.
  Source/Editor/Managed/ManagedEditor.Internal.cpp
  Source/Engine/Content/Asset.h
  Source/Engine/Content/Content.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, editor, graphics

#1522 Visject: Context sensitive node search
  Source/Editor/Scripting/ScriptType.cs
  Source/Editor/Surface/Archetypes/Function.cs
  Source/Editor/Surface/Archetypes/Packing.cs
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Surface/ContextMenu/VisjectCMGroup.cs
  Source/Editor/Surface/ContextMenu/VisjectCMItem.cs
  Source/Editor/Surface/Elements/Box.cs
  Source/Editor/Surface/NodeArchetype.cs
  Source/Editor/Surface/VisjectSurface.Connecting.cs
Labels: enhancement, editor, visject

#1609 Ensure editor font is set as something.
  Source/Editor/Options/InterfaceOptions.cs
Labels: editor, fix

#1610 Fix menu misalignment and window placement on Linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: platform, fix

#1620 Use latest supported C# version for building rules assemblies
  Source/Tools/Flax.Build/Build/Assembler.cs
Labels: tools, fix

#1621 Generate Rider-specific user solution configuration files
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: enhancement, tools

#1624 Fix HScroll bar from covering nodes in scene and prefab tree windows.
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#1377 Add `View Layers` button & `Reset`/`Disable`/`Copy`/`Paste` buttons to `View Flags`/`Debug View` & Camera `RenderFlags`/`RenderView` addition
  Source/Editor/Viewport/EditorViewport.cs
  Source/Engine/Graphics/RenderView.cpp
  Source/Engine/Graphics/RenderView.cs
  Source/Engine/Level/Actors/Camera.cpp
  Source/Engine/Level/Actors/Camera.h
Labels: enhancement, editor

#1518 Add button to position camera to editor viewport view.
  Source/Editor/SceneGraph/Actors/AnimatedModelNode.cs
  Source/Editor/SceneGraph/Actors/CameraNode.cs
  Source/Editor/SceneGraph/Actors/SceneNode.cs
  Source/Editor/SceneGraph/Actors/SplineNode.cs
  Source/Editor/SceneGraph/Actors/StaticModelNode.cs
  Source/Editor/SceneGraph/SceneGraphNode.cs
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
Labels: enhancement, editor

#1523 Improved mousewheel scrolling behavior
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Windows/Search/ContentFinder.cs
  Source/Engine/UI/GUI/Panels/ScrollBar.cs
Labels: enhancement, editor, ui

#1543 Vert color deduplication check
  Source/Engine/Graphics/Models/ModelData.Tool.cpp
Labels: graphics, fix

#1582 Handle double clicking in CheckBox, Button, Dropdown and DropPanel.
  Source/Engine/UI/GUI/Common/Button.cs
  Source/Engine/UI/GUI/Common/CheckBox.cs
  Source/Engine/UI/GUI/Common/Dropdown.cs
  Source/Engine/UI/GUI/Panels/DropPanel.cs
Labels: enhancement, ui

#1619 Visject: Automatic casting
  Source/Editor/Surface/Archetypes/Tools.cs
  Source/Editor/Surface/Elements/Box.cs
Labels: enhancement, editor, visject

#1630 Visject: Minor visual fix to preview connection
  Source/Editor/Surface/VisjectSurface.Draw.cs
Labels: editor, fix, visject

#1634 Visual Scripting CM: Fixed surface parameter item duplication bug
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
Labels: editor, fix, visject

#1637 Fix `Dictionary` iterator comparison
  Source/Engine/Core/Collections/Dictionary.h
Labels: core, fix

#1639 Visject: Surface parameter support for context sensitive search
  Source/Editor/Surface/Archetypes/Function.cs
  Source/Editor/Surface/Archetypes/Packing.cs
  Source/Editor/Surface/Archetypes/Parameters.cs
  Source/Editor/Surface/ContextMenu/VisjectCMItem.cs
  Source/Editor/Surface/NodeArchetype.cs
Labels: enhancement, editor, visject

#1642 Fix incorrect mapping of Alt key on linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
Labels: platform, fix

#1423 Add automatic module creation.
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#1636 Fix IES profile light computation formula
  Source/Shaders/IESProfile.hlsl
Labels: graphics, fix

#1638 Move `Use Inverse Squared Falloff` above `Falloff Exponent` in lights
  Source/Engine/Level/Actors/PointLight.h
  Source/Engine/Level/Actors/SpotLight.h
Labels: enhancement, editor

#1641 Fix edit TextBox
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: fix, ui

#1512 Fix error on try invoke actions by childrens on OnDestroy
  Source/Engine/Level/Actor.cpp
Labels: scripting, level

#1650 Fix Editor viewport camera drifting with odd viewport sizes
  Source/Editor/Viewport/EditorViewport.cs
Labels: editor, fix

#1653 Use a maximum distance between clicks, when detecting a double click, to prevent accidental double clicks.
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: platform, fix

#1655 fix GetVirtualDesktopBounds for Linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
Labels: enhancement, platform

#1578 Evaluate animation graph transition data before executing the transition rule.
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: fix, animations

#1627 Animation Graph: Added animation asset input box to animation sample node
  Source/Editor/Surface/Archetypes/Animation.cs
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: enhancement, animations

#1657 fix reading of pipe buffer from external filechooser
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
Labels: platform, fix

#1667 Fixed script serialization failures from removing scripts.
  Source/Editor/Undo/Actions/AddRemoveScriptAction.cs
Labels: editor, fix

#1670 Ensure WS_CAPTION style is set only for regular windows.
  Source/Engine/Platform/Windows/WindowsWindow.cpp
Labels: platform, fix

#1674 Add more descriptive deprecation messages
  Source/Editor/CustomEditors/Elements/DoubleValueElement.cs
  Source/Editor/CustomEditors/Elements/FloatValueElement.cs
  Source/Engine/Graphics/Mesh.cs
  Source/Engine/Graphics/SkinnedMesh.cs
  Source/Engine/Physics/CollisionData.cs
Labels: documentation, enhancement

#1672 Fix Editor viewport camera transformation getting corrupted when focused
  Source/Editor/Viewport/EditorViewport.cs
Labels: editor, fix

#1678 Fix regression from #1627
  Source/Editor/Surface/Archetypes/Animation.cs
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: fix, animations

#1684 Fix opening plugin project files in Visual Studio
  Source/Editor/Scripting/CodeEditors/VisualStudio/VisualStudioConnection.cpp
Labels: enhancement, editor

#1681 Fix wrong Visual Studio Code preLaunchTask in launch tasks
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: tools, fix

#1697 Fix error when hitting escape in read-only textboxes
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: fix, ui

#1685 Add functionality to replace missing scripts with a different script type to handle renaming.
  Source/Editor/CustomEditors/Dedicated/MissingScriptEditor.cs
  Source/Editor/Undo/Actions/AddRemoveScriptAction.cs
Labels: enhancement, editor

#1695 Fix #436 and #1251
  Source/Editor/Gizmo/IGizmoOwner.cs
  Source/Editor/Gizmo/TransformGizmoBase.cs
  Source/Editor/Viewport/EditorGizmoViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: editor, fix

#1701 Disable inheriting C# optimization level from dependency modules
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: enhancement, tools

#1702 Fix crash when physics actor contact is lost with another actor
  Source/Engine/Physics/PhysX/SimulationEventCallbackPhysX.cpp
Labels: fix, physics

#1703 Only generate one set of C++/C# launch tasks for VSCode
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: tools, fix

#1704 Add not to close Debug View CM on button clicked.
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#1709 Use and store restored window position after minimizing the window
  Source/Editor/Modules/WindowsModule.cs
  Source/Engine/Platform/Windows/WindowsWindow.cpp
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: platform, fix

#1711 Prevent project file regeneration running while compiling scripts
  Source/Editor/Modules/SourceCodeEditing/CodeEditingModule.cs
  Source/Editor/Scripting/ScriptsBuilder.cpp
Labels: enhancement, editor

#1712 Fix error when deleting multiple files and no folders selected
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#1714 Delay compiler and project generation after large file operations
  Source/Editor/Modules/SourceCodeEditing/CodeEditingModule.cs
  Source/Editor/Scripting/ScriptsBuilder.cpp
  Source/Editor/Scripting/ScriptsBuilder.h
Labels: editor, fix

#1718 #1716 Do not rebuild contexts twice in a row
  Source/Engine/Audio/OpenAL/AudioBackendOAL.cpp
Labels: audio, fix

#1722 fix color picker (signal handler + alpha channel)
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
  Source/Editor/Utilities/ScreenUtilities.cpp
Labels: platform, fix

#1744 Use PrefabObjectID when setting/getting the actor expanded value for prefabs.
  Source/Editor/GUI/Tree/TreeNode.cs
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
Labels: enhancement, editor, prefabs

#1748 Limit what characters module names can contain.
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
Labels: editor, fix

#1760 Fix particles effect not being able to call play to play again if islooping is false
  Source/Engine/Particles/ParticleEffect.cpp
  Source/Engine/Particles/ParticleEffect.h
  Source/Engine/Particles/Particles.cpp
Labels: enhancement, particles

#1793 Make the message box a TASKMODEL to prevent interaction with the editor and other windows.
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
Labels: platform, fix

#1611 Improve viewport camera settings
  Source/Editor/Options/ViewportOptions.cs
  Source/Editor/Viewport/Cameras/FPSCamera.cs
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Viewport/Widgets/ViewportWidgetButton.cs
Labels: enhancement, editor
