Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-04, with the labels that each got.

#970 Added updating the main menu shortcut keys on editor options saved.
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Windows/EditorOptionsWindow.cs
Labels: enhancement, editor

#971 Small change to animation state machine states to not change background color twice.
  Source/Editor/Surface/Archetypes/Animation.StateMachine.cs
Labels: enhancement, editor

#972 Add Copy Euler angles to Quaternion editor context menu.
  Source/Editor/CustomEditors/Editors/QuaternionEditor.cs
Labels: enhancement, editor

#975 [Editor] Make InputBindings modifiable from plugin
  Source/Editor/Options/InputBinding.cs
Labels: enhancement, editor, scripting

#978 Remove extra sleep when Editor is not focused
  Source/Editor/Editor.cpp
Labels: core

#985 Support handling network events immediately in NetworkLagDriver
  Source/Engine/Networking/Drivers/NetworkLagDriver.cpp
Labels: enhancement, networking

#986 Fix managed method invoker delegate caching
  Source/Engine/Engine/NativeInterop.cs
Labels: core, fix, scripting

#979 Added ability to change the fps of the not focused editor window.
  Source/Editor/Options/GeneralOptions.cs
  Source/Editor/States/EditorState.cs
Labels: enhancement, editor

#982 Added de-selecting items in content view by clicking empty space
  Source/Editor/Windows/ContentWindow.Navigation.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#983 Visject cm Visual changes
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Surface/ContextMenu/VisjectCMGroup.cs
  Source/Editor/Surface/ContextMenu/VisjectCMItem.cs
Labels: enhancement, editor

#984 Various changes to scroll bar to make it feel better
  Source/Engine/UI/GUI/Panels/ScrollBar.cs
Labels: enhancement, editor

#999 Changed `Cook&Run` to `Cook & Run`
  Source/Editor/Modules/UIModule.cs
Labels: editor, fix

#1001 Add `ClampLength` functions to C++ Vector3
  Source/Engine/Core/Math/Vector3.h
Labels: enhancement, core

#994 Fix bug with path name preventing the item to be renamed when duplicated
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#996 Made it so the visuals of dragging an actor in a tree will only show between the nodes and on the node.
  Source/Editor/GUI/Tree/Tree.cs
  Source/Editor/GUI/Tree/TreeNode.cs
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: editor, fix

#997 Allow word wrapping to wrap on capital letters and underscores.
  Source/Engine/Render2D/Font.cpp
Labels: enhancement, editor, ui

#998 Changes the play icon to a stop icon and vice versa when clicked for the profiler
  Source/Editor/Windows/Profiler/ProfilerWindow.cs
Labels: enhancement, editor

#1004 Fix RMB deletion to take selection into account
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#995 Fix c# math sign functions
  Source/Engine/Core/Math/Mathd.cs
  Source/Engine/Core/Math/Mathf.cs
Labels: core, fix

#1005 Add `MoveTowards` functions to C++ `Math`
  Source/Engine/Core/Math/Math.h
Labels: enhancement, core

#1008 CSharp `Math.Remap` method obsoletion
  Source/Engine/Core/Math/Mathd.cs
  Source/Engine/Core/Math/Mathf.cs
Labels: core, fix

#1012 Scene tree drag fixes
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: editor, fix

#963 implement openal hrtf audio support
  Source/Engine/Audio/Audio.cpp
  Source/Engine/Audio/Audio.h
  Source/Engine/Audio/AudioBackend.h
  Source/Engine/Audio/AudioSettings.h
  Source/Engine/Audio/None/AudioBackendNone.cpp
  Source/Engine/Audio/None/AudioBackendNone.h
  Source/Engine/Audio/OpenAL/AudioBackendOAL.cpp
  Source/Engine/Audio/OpenAL/AudioBackendOAL.h
  Source/Engine/Audio/XAudio2/AudioBackendXAudio2.cpp
  Source/Engine/Audio/XAudio2/AudioBackendXAudio2.h
  Source/ThirdParty/OpenAL/al.h
  Source/ThirdParty/OpenAL/alc.h
  Source/ThirdParty/OpenAL/alext.h
  Source/ThirdParty/OpenAL/efx.h
  Source/Tools/Flax.Build/Deps/Dependencies/OpenAL.cs
Labels: enhancement, audio

#1022 Add some more missing functions to C++ `Math`
  Source/Engine/Core/Math/Math.h
Labels: enhancement, core

#1026 [C++] NetTransform copy-paste mistake fix
  Source/Engine/Networking/Components/NetworkTransform.cpp
Labels: fix, networking

#1030 Fix Visual Studio Code jump to line argument
  Source/Editor/Scripting/CodeEditors/VisualStudioCodeEditor.cpp
Labels: editor, tools, fix
