Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-03, with the labels that each got.

#965 Fixed the Generic Json Proxy not showing up in the content cm.
  Source/Editor/Content/Proxy/JsonAssetProxy.cs
Labels: editor, fix

#966 Add Output/ folder to .gitignore
  .gitignore
Labels: enhancement, tools

#962 Fix visuals of the `Blend with Mask` node
  Source/Editor/Surface/Archetypes/Animation.cs
Labels: enhancement, editor

#964 .NET7: Fix crash when calling RPC functions
  Source/Engine/Networking/NetworkReplicator.cs
  Source/Engine/Scripting/BinaryModule.cpp
  Source/Tools/Flax.Build/Build/Plugins/NetworkingPlugin.cs
Labels: fix, scripting, networking

#968 Exclude API code injection lines from includes cache
  Source/Tools/Flax.Build/Build/NativeCpp/IncludesCache.cs
Labels: tools, fix

#969 Various Flax.Build performance improvements
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cache.cs
  Source/Tools/Flax.Build/Build/Builder.Rules.cs
  Source/Tools/Flax.Build/Build/FileCache.cs
  Source/Tools/Flax.Build/Build/Graph/TaskGraph.cs
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
  Source/Tools/Flax.Build/Build/NativeCpp/IncludesCache.cs
  Source/Tools/Flax.Build/Build/Plugins/NetworkingPlugin.cs
  Source/Tools/Flax.Build/Flax.Build.csproj
  Source/Tools/Flax.Build/ProjectInfo.cs
Labels: enhancement, tools
