Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-11, with the labels that each got.

#1807 Change rename popup length to only go to panel edge
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: editor, fix

#1837 Include interfaces in FindScript.
  Source/Engine/Level/Actor.cpp
Labels: fix, scripting

#1846 Add extended buttons support for linux
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: enhancement, platform, input

#1671 Visject: Convert node to parameter
  Source/Editor/Surface/Archetypes/Constants.cs
  Source/Editor/Surface/Archetypes/Textures.cs
  Source/Editor/Surface/ConvertibleNode.cs
  Source/Editor/Surface/ParticleEmitterSurface.cs
  Source/Editor/Surface/SurfaceParameter.cs
  Source/Editor/Surface/VisjectSurface.DragDrop.cs
  Source/Editor/Surface/VisjectSurfaceWindow.cs
  Source/Editor/Surface/VisualScriptSurface.cs
Labels: enhancement, editor, visject

#1765 Visject: More alternative titles
  Source/Editor/Surface/Archetypes/Bitwise.cs
  Source/Editor/Surface/Archetypes/Boolean.cs
  Source/Editor/Surface/Archetypes/Comparisons.cs
  Source/Editor/Surface/Archetypes/Constants.cs
  Source/Editor/Surface/Archetypes/Math.cs
  Source/Editor/Surface/Archetypes/Tools.cs
Labels: enhancement, visject

#1779 Add to be able to specify order of plugin initialization and deinitialization.
  Source/Engine/Scripting/Attributes/PluginLoadOrder.cs
  Source/Engine/Scripting/Plugins/PluginManager.cpp
Labels: enhancement, scripting

#1798 Add input bindings for game window mouse unlock and toggle fullscreen
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Surface/VisjectSurfaceWindow.cs
  Source/Editor/Windows/Assets/AnimationWindow.cs
  Source/Editor/Windows/Assets/BehaviorTreeWindow.cs
  Source/Editor/Windows/Assets/GameplayGlobalsWindow.cs
  Source/Editor/Windows/Assets/JsonAssetWindow.cs
  Source/Editor/Windows/Assets/LocalizedStringTableWindow.cs
  Source/Editor/Windows/Assets/MaterialInstanceWindow.cs
  Source/Editor/Windows/Assets/ParticleSystemWindow.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/Assets/SceneAnimationWindow.cs
  Source/Editor/Windows/Assets/VisjectFunctionSurfaceWindow.cs
  Source/Editor/Windows/Assets/VisualScriptWindow.cs
  Source/Editor/Windows/GameWindow.cs
  Source/Editor/Windows/VisualScriptDebuggerWindow.cs
Labels: enhancement, editor

#1810 Ensure layer confirmation does not popup in play mode.
  Source/Editor/CustomEditors/Editors/ActorLayerEditor.cs
Labels: editor, fix

#1857 Fix color picker dialog not staying inside the current screen.
  Source/Editor/GUI/Dialogs/Dialog.cs
  Source/Editor/Modules/UIModule.cs
Labels: enhancement, editor

#1878 Honor the XDG_DATA_HOME env var and use the approved default as per specification.
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
Labels: enhancement, platform

#1740 Add button to reload scenes
  Source/Editor/Modules/SceneModule.cs
  Source/Editor/Modules/UIModule.cs
Labels: enhancement, editor

#1755 Material Editor: Removed unsupported parameter types
  Source/Editor/Windows/Assets/MaterialWindow.cs
Labels: enhancement, editor, content

#1759 Visject: Comment order improvements
  Source/Editor/Surface/Archetypes/Tools.cs
  Source/Editor/Surface/SurfaceComment.cs
  Source/Editor/Surface/VisjectSurface.cs
  Source/Editor/Surface/VisjectSurfaceContext.Serialization.cs
  Source/Editor/Surface/VisjectSurfaceContext.cs
Labels: enhancement, editor, visject

#1819 Spawn canvas scalar on canvas creation.
  Source/Editor/SceneGraph/Actors/UICanvasNode.cs
Labels: enhancement, ui

#1850 Allow dragging items to lists and arrays in the properties window.
  Source/Editor/CustomEditors/Editors/AssetRefEditor.cs
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
  Source/Editor/CustomEditors/Editors/ModelInstanceEntryEditor.cs
  Source/Editor/GUI/AssetPicker.cs
  Source/Editor/GUI/Timeline/Tracks/SingleMediaAssetTrack.cs
  Source/Editor/Surface/Archetypes/Animation.MultiBlend.cs
  Source/Editor/Surface/Archetypes/Function.cs
  Source/Editor/Surface/Elements/AssetSelect.cs
  Source/Editor/Tools/Terrain/EditTab.cs
  Source/Editor/Utilities/AssetPickerValidator.cs
  Source/Editor/Windows/AssetReferencesGraphWindow.cs
  Source/Editor/Windows/Assets/SkinnedModelWindow.cs
Labels: enhancement, editor

#1804 Fix some Center geometry import issues. Add being able to shift mesh to local origin.
  Source/Engine/Graphics/Models/ModelData.h
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, content

#1887 Fix anim slot from playing animations more than 1 time based on speed.
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: fix, animations

#1785 Add custom material option to Material Preview.
  Source/Editor/Viewport/Previews/MaterialPreview.cs
Labels: enhancement, editor

#1808 Copy old UI control data to new UI control when set UIControl type
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: enhancement, editor, ui

#1600 added Ratangle Mask,FWidth,AAStep
  Source/Editor/Surface/Archetypes/Material.cs
  Source/Engine/Tools/MaterialGenerator/MaterialGenerator.Material.cpp
Labels: enhancement, graphics

#1906 Rebuild navigation after apply changes in Navigation asset
  Source/Engine/Navigation/Navigation.cpp
Labels: enhancement, navigation

#1914 Don't hard-code appdata path for linux anymore.
  Source/Editor/Scripting/CodeEditors/RiderCodeEditor.cpp
Labels: platform, editor, fix

#1688 Fix #63
  Source/Engine/Platform/Windows/WindowsInput.cpp
Labels: platform, fix

#1826 Dropdown improvements
  Source/Engine/UI/GUI/Common/Dropdown.cs
Labels: enhancement, fix, ui

#1888 Fixed issue involving stale scripting assemblies in FlaxEngine.Json dynamic type resolution
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Serialization/JsonCustomSerializers/ExtendedSerializationBinder.cs
  Source/Engine/Serialization/JsonSerializer.cs
Labels: core, fix

#1541 Better light theme (Style) support, added a 2nd Default (light) theme
  Source/Editor/Content/Tree/ContentTreeNode.cs
  Source/Editor/GUI/AssetPicker.cs
  Source/Editor/GUI/PlatformSelector.cs
  Source/Editor/GUI/Row.cs
  Source/Editor/Options/OptionsModule.cs
  Source/Editor/Options/ThemeOptions.cs
  Source/Editor/Viewport/Widgets/ViewportWidgetButton.cs
  Source/Editor/Windows/Profiler/Assets.cs
  Source/Editor/Windows/Profiler/CPU.cs
  Source/Editor/Windows/Profiler/GPU.cs
  Source/Editor/Windows/Profiler/MemoryGPU.cs
  Source/Editor/Windows/Profiler/Network.cs
  Source/Editor/Windows/Profiler/SingleChart.cs
  Source/Editor/Windows/Profiler/Timeline.cs
  Source/Engine/Scripting/Scripting.cs
  Source/Engine/UI/GUI/Style.cs
Labels: enhancement, editor

#1933 Add limits to cloth brush values.
  Source/Editor/Tools/ClothPainting.cs
Labels: enhancement, editor

#1919 Expose Freetype font style flags in `FontAsset`
  Source/Engine/Render2D/FontAsset.cpp
  Source/Engine/Render2D/FontAsset.h
Labels: enhancement, graphics

#1929 Wake up rigidbody when set "IsKinematic" to false
  Source/Engine/Physics/Actors/RigidBody.cpp
Labels: enhancement, physics

#1673 Build C# projects in VS/Rider solution configurations
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
  Source/Tools/Flax.Build/Globals.cs
  Source/Tools/Flax.Build/Program.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#1936 .NET8: Improve .NET 8 runtime and SDK detection
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/ThirdParty/nethost/FlaxEngine.CSharp.runtimeconfig.json
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, tools

#1896 Compacted UpdateTransform Matrix math
  Source/Engine/Core/Math/Math.h
  Source/Engine/UI/GUI/Control.Bounds.cs
Labels: enhancement, ui, performance

#1938 Avoid crash when try build navmesh with null scene
  Source/Engine/Navigation/NavMeshBuilder.cpp
Labels: fix, navigation

#1950 Hide search window and search nodes from Uncontrol
  Source/Editor/Windows/Search/ContentSearchWindow.cs
Labels: editor, fix

#1962 .NET8: Validate detected .NET SDK/runtime versions
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
  Source/Tools/Flax.Build/global.json
  global.json
Labels: enhancement, tools

#1968 Add git submodule init to git cloning.
  Source/Editor/Windows/PluginsWindow.cs
Labels: enhancement, editor

#1961 Implement SetNodeTransform in company with GetNodeTransform
  Source/Engine/Level/Actors/AnimatedModel.cpp
  Source/Engine/Level/Actors/AnimatedModel.h
Labels: enhancement, animations

#1953 force DeepClone() to use runtime class
  Source/Engine/Utilities/Extensions.cs
Labels: enhancement, scripting

#1977 Automatically show skeleton when entering skeleton tab in skinned model editor
  Source/Editor/Windows/Assets/SkinnedModelWindow.cs
  Source/Engine/Level/Actors/AnimatedModel.cpp
Labels: enhancement, editor

#1974 Remove ability in editor to delete content and source folders.
  Source/Editor/Content/Tree/ContentTreeNode.cs
  Source/Editor/Content/Tree/MainContentTreeNode.cs
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
Labels: enhancement, editor

#1996 Various .NET and VSCode intellisense fixes
  Source/Engine/Scripting/Scripting.Build.cs
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
  Source/Tools/Flax.Build/Flax.Build.csproj
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
Labels: tools, fix, scripting
