Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-02, with the labels that each got.

#899 Adding Some Methods
  Source/Engine/Core/Math/Float2.cs
  Source/Engine/Core/Math/Vector2.cs
  Source/Engine/Core/Math/Vector2.h
  Source/Engine/Input/Gamepad.cpp
  Source/Engine/Input/Gamepad.h
  Source/Engine/Input/Input.cpp
  Source/Engine/Input/Mouse.h
Labels: enhancement, scripting

#910 Fixed sizing for tag header drop panel and add tag button to match with other sizing
  Source/Editor/CustomEditors/Editors/TagEditor.cs
Labels: enhancement, editor

#922 Fix to a bug in DownloadMeshData
  Source/Engine/Utilities/MeshDataCache.cs
Labels: fix, scripting

#923 Text box change cursor to ibeam when editing
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, ui

#909 Fix Audio Settings not applying doppler factor
  Source/Engine/Audio/Audio.cpp
Labels: audio, fix

#920 Delete auto save popup and utilize regular status bar text with similar buttons.
  Source/Editor/Editor.cs
  Source/Editor/GUI/Popups/AutoSavePopup.cs
Labels: editor

#929 Centers the "Set Type" Button context menu for UI Controls in the editor
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: editor, fix

#930 Scale linking and unlinking
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
  Source/Editor/CustomEditors/Editors/Vector3Editor.cs
  Source/Editor/Windows/PropertiesWindow.cs
Labels: enhancement, editor

#931 Possible fix for values reverting to previous values in ValueBoxs
  Source/Editor/GUI/Input/ValueBox.cs
Labels: editor, fix

#913 .NET7: Fix dotnet SDK detection on Linux
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, tools

#914 .NET7: Store pooled ManagedArray in thread-local storage
  Source/Engine/Engine/NativeInterop.cs
Labels: enhancement, scripting

#925 Changed `GetGameWindowSize` to return viewport size.
  Source/Editor/Editor.cs
Labels: editor, fix

#937 Fix issue with link image overlapping different lengths of text for scale properties.
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
Labels: editor, fix

#938 Move the child menu arrow image to accommodate for the scroll bar showing when the amount of items exceeds the maximum.
  Source/Editor/GUI/ContextMenu/ContextMenu.cs
  Source/Editor/GUI/ContextMenu/ContextMenuChildMenu.cs
Labels: editor, fix

#940 Fix LinuxFileSystemWatcher not working in sub-directories
  Source/Engine/Platform/Linux/LinuxFileSystemWatcher.cpp
Labels: platform, fix

#736 Prefer LLVM linker over other linkers on Linux
  README.md
  Source/Tools/Flax.Build/Platforms/Linux/LinuxToolchain.cs
  Source/Tools/Flax.Build/Platforms/Unix/UnixToolchain.cs
Labels: enhancement, platform, tools

#911 Fix process creation on Linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
Labels: platform, fix

#912 Fix centered window and message box locations on Linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: confirmed, platform, fix

#917 Fix error when joining exited threads
  Source/Engine/Content/Loading/ContentLoadingManager.cpp
  Source/Engine/Platform/Base/ThreadBase.cpp
  Source/Engine/Platform/Unix/UnixThread.cpp
  Source/Engine/Platform/Win32/Win32Thread.cpp
  Source/Engine/Threading/JobSystem.cpp
  Source/Engine/Threading/ThreadPool.cpp
Labels: core, fix

#926 Improve Linux file dialog support
  Source/Engine/Platform/Base/FileSystemBase.h
  Source/Engine/Platform/Base/StringUtilsBase.cpp
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
  Source/Engine/Platform/StringUtils.h
Labels: enhancement, platform

#939 Fix linking against C#-only modules
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: tools, fix

#941 Fix not serializing post FX script fields.
  Source/Engine/Graphics/PostProcessEffect.h
Labels: enhancement, graphics, scripting

#936 Context menu and tooltip fixes
  Source/Editor/GUI/ContextMenu/ContextMenuBase.cs
  Source/Editor/GUI/Tree/TreeNode.cs
  Source/Engine/UI/GUI/Tooltip.cs
Labels: editor, fix, ui

#945 Include thirdparty files in the includes cache
  Source/Tools/Flax.Build/Build/NativeCpp/IncludesCache.cs
Labels: tools, fix

#946 Update scroll speed to feel less sluggish
  Source/Engine/UI/GUI/Panels/ScrollBar.cs
Labels: enhancement, ui

#947 Child context menu fixes
  Source/Editor/GUI/ContextMenu/ContextMenuChildMenu.cs
Labels: editor, fix, ui

#953 Add `Ragdoll` Actor to toolbox
  Source/Engine/Level/Actors/Ragdoll.h
Labels: editor, fix

#954 Fix cursor not changing from IBeam to default when hovering over cancel button in SearchBox
  Source/Editor/GUI/Input/SearchBox.cs
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, editor, ui

#958 Add FLAXENGINE_API to platform specific classes
  Source/Engine/Platform/Android/AndroidFile.h
  Source/Engine/Platform/Android/AndroidThread.h
  Source/Engine/Platform/Android/AndroidWindow.h
  Source/Engine/Platform/Linux/LinuxInput.h
  Source/Engine/Platform/Linux/LinuxThread.h
  Source/Engine/Platform/Linux/LinuxWindow.h
  Source/Engine/Platform/Mac/MacThread.h
  Source/Engine/Platform/Mac/MacWindow.h
  Source/Engine/Platform/UWP/UWPWindow.h
  Source/Engine/Platform/Unix/UnixFile.h
  Source/Engine/Platform/Unix/UnixThread.h
  Source/Engine/Platform/Win32/Win32File.h
  Source/Engine/Platform/Win32/Win32Thread.h
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: fix, scripting

#950 .NET7: Fix native to managed marshalling of System.Array
  Source/Editor/Content/Import/TextureImportEntry.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, scripting

#944 Improve C++ standard library version detection
  Source/Tools/Flax.Build/Platforms/Linux/LinuxToolchain.cs
  Source/Tools/Flax.Build/Platforms/Unix/UnixToolchain.cs
Labels: enhancement, platform, tools
