Repository FlaxEngine/FlaxEngine, pull requests merged in 2023-06, with the labels that each got.

#1142 Improved usability when duplicating points of a spline
  Source/Editor/SceneGraph/Actors/SplineNode.cs
Labels: enhancement, editor, level

#1143 Limits character controller up direction between (-1, 1)
  Source/Engine/Physics/Colliders/CharacterController.h
Labels: editor, fix, physics

#1149 fix crash when import model
  Source/Engine/Tools/ModelTool/ModelTool.cpp
Labels: editor, fix

#1150 Expose some Input class delegates to scripting API
  Source/Engine/Input/Input.cpp
  Source/Engine/Input/Input.h
Labels: enhancement, input, scripting

#1140 Pivot Relative UI Sizing
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
  Source/Editor/Windows/PropertiesWindow.cs
  Source/Engine/UI/GUI/Control.Bounds.cs
  Source/Engine/UI/GUI/Control.cs
Labels: enhancement, editor, ui

#1152 Fix for #1002
  Source/Editor/Gizmo/TransformGizmoBase.cs
Labels: editor, fix

#1166 Fix crash when substring of String is assigned to itself
  Source/Engine/Core/Types/String.cpp
Labels: core, fix

#1167 Expose bitmap data of Font glyphs in FontTextureAtlas
  Source/Engine/Render2D/Font.h
  Source/Engine/Render2D/FontManager.cpp
  Source/Engine/Render2D/FontTextureAtlas.cpp
  Source/Engine/Render2D/FontTextureAtlas.h
Labels: enhancement, ui

#1177 Fix FontTextureAtlas::GetSlotData not including padding correctly
  Source/Engine/Render2D/FontTextureAtlas.cpp
Labels: fix, ui

#1179 Make rebuilding database when adding asset proxy optional
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#1180 Fix binding generation for interfaces
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: fix, scripting

#1181 Support decimal values in Font sizes
  Source/Editor/Windows/SplashScreen.cpp
  Source/Engine/Render2D/Font.cpp
  Source/Engine/Render2D/Font.h
  Source/Engine/Render2D/FontAsset.cpp
  Source/Engine/Render2D/FontAsset.h
  Source/Engine/Render2D/FontReference.cs
  Source/Engine/UI/TextRender.cpp
  Source/Engine/UI/TextRender.h
Labels: enhancement, ui

#1182 Fix sluggish EditorViewport camera movement with high DPI
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#1188 Implement optional object replication
  Source/Engine/Networking/NetworkReplicationHierarchy.cpp
  Source/Engine/Networking/NetworkReplicationHierarchy.h
Labels: enhancement, networking

#1191 Support changing C# nullable references context build option
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
Labels: enhancement, tools

#1192 Expose Content importers and exporters for scripting API
  Source/Engine/ContentExporters/AssetsExportingManager.h
  Source/Engine/ContentExporters/Types.h
  Source/Engine/ContentImporters/AssetsImportingManager.h
  Source/Engine/ContentImporters/Types.h
Labels: enhancement, scripting

#1195 Fix native library lookup after hot reload
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
Labels: fix, scripting

#1197 Release custom assets before scripting hot reload
  Source/Engine/Scripting/Scripting.cpp
Labels: core, fix, scripting

#1198 Add support for writing UTF-8 files in FileBase::WriteAllText
  Source/Editor/Editor.cpp
  Source/Engine/Core/Encoding.h
  Source/Engine/Platform/Base/FileBase.cpp
Labels: enhancement, core

#1199 Add eol=lf to gitattribute
  .gitattributes
Labels: tools, fix

#1201 Optimize actors search
  Source/Engine/Level/Level.cpp
  Source/Engine/Level/Level.h
Labels: enhancement, scripting

#1203 Update NetworkReplicationNode::AddObject
  Source/Engine/Networking/NetworkReplicationHierarchy.cpp
Labels: fix, networking

#1155 Don't let rename source/content folders on content editor
  Source/Editor/Content/Items/ContentFolder.cs
Labels: enhancement, editor

#1204 Add Realloc with alignment.
  Source/Engine/Core/Memory/Memory.h
Labels: enhancement, core

#1212 Release custom assets before binary modules on scripting release
  Source/Engine/Scripting/Scripting.cpp
Labels: core, fix

#1216 Fix compile-time error in HashSet::ClearDelete
  Source/Engine/Core/Collections/HashSet.h
Labels: core, fix

#1217 Fix Intellisense errors with referenced binary module structures
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
Labels: tools, fix

#1207 Add `NetworkReplicationNode::GetObject` and implement `NetworkReplicationGridNode` object caching
  Source/Engine/Networking/NetworkReplicationHierarchy.cpp
  Source/Engine/Networking/NetworkReplicationHierarchy.h
Labels: enhancement, networking

#1213 Adjustments in the preview of some windows
  Source/Editor/Viewport/Previews/AnimatedModelPreview.cs
  Source/Editor/Viewport/Previews/MaterialPreview.cs
  Source/Editor/Viewport/Previews/ModelBasePreview.cs
  Source/Editor/Viewport/Previews/ModelPreview.cs
  Source/Editor/Viewport/Previews/SkinnedModelPreview.cs
  Source/Editor/Windows/Assets/CollisionDataWindow.cs
  Source/Editor/Windows/Assets/ModelWindow.cs
  Source/Editor/Windows/Assets/SkinnedModelWindow.cs
Labels: enhancement, editor

#1214 Fix vehicle wheel debug orientation
  Source/Engine/Physics/Actors/WheeledVehicle.cpp
Labels: fix, physics

#1222 Fix incorrect space conversion results in SetCurrentPose
  Source/Engine/Level/Actors/AnimatedModel.cpp
Labels: confirmed, fix, animations
