Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-01, with the labels that each got.

#2146 Fix for editor view's cached "CameraNearPlaneValue" getting overwritten.
  Source/Editor/Viewport/EditorViewport.cs
Labels: editor, fix

#2154 Silently drop unreliable RPC calls if we failed to find an object
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: enhancement, networking

#2134 Fix uninitialized value of `NetworkConfig` `NetworkDriver` field
  Source/Engine/Networking/NetworkConfig.h
Labels: fix, networking

#2137 Fix profiling hotkeys not working while profiler window is closed
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/Profiler/ProfilerWindow.cs
Labels: enhancement, editor

#2138 Fix crash while moving simulation disabled kinematic actors
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
Labels: fix, physics

#2142 Add Guid picker
  Source/Editor/CustomEditors/Editors/GuidEditor.cs
Labels: enhancement, editor

#2145 Fix C++ Intellisense not working with latest version of Rider
  Source/Tools/Flax.Build/Projects/VisualStudio/VCProjectGenerator.cs
Labels: enhancement, tools

#2124 Fix problem with Procedural Texture Sample flicker if using scaled UVs.
  Source/Engine/Tools/MaterialGenerator/MaterialGenerator.Textures.cpp
Labels: graphics, fix

#2130 fix getting file access time for Apple, Android and Linux
  Source/Engine/Platform/Android/AndroidFileSystem.cpp
  Source/Engine/Platform/Apple/AppleFileSystem.cpp
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
  Source/Engine/Platform/Unix/UnixFile.cpp
Labels: platform, core, fix

#2135 Virtual AssetProxy
  Source/Editor/Content/Proxy/AssetProxy.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#2140 Expose partition mode and cascade spacing.
  Source/Engine/Graphics/Enums.h
  Source/Engine/Level/Actors/DirectionalLight.cpp
  Source/Engine/Level/Actors/DirectionalLight.h
  Source/Engine/Level/DirectionalLight.cs
  Source/Engine/Renderer/RenderList.h
  Source/Engine/Renderer/ShadowsPass.cpp
Labels: enhancement, graphics

#2143 Add an option to skip existing materials when reimporting.
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, editor

#2144 Add support for multiple VisibleIf attributes.
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
  Source/Engine/Scripting/Attributes/Editor/VisibleIfAttribute.cs
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, editor

#2167 Fix invalid Visual Studio solution folder nesting
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#2168 Adjust `ContextMenu` ShortKeys as needed to accommodate for scrollbar when visible
  Source/Editor/GUI/ContextMenu/ContextMenu.cs
  Source/Editor/GUI/ContextMenu/ContextMenuButton.cs
  Source/Editor/GUI/ContextMenu/ContextMenuChildMenu.cs
Labels: editor, fix, ui
