Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-08, with the labels that each got.

#2672 Update OpenFBX
  Source/Editor/Content/Proxy/PrefabProxy.cs
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
  Source/Engine/Graphics/Models/ModelData.Tool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
  Source/ThirdParty/OpenFBX/libdeflate.cpp
  Source/ThirdParty/OpenFBX/libdeflate.h
  Source/ThirdParty/OpenFBX/ofbx.cpp
  Source/ThirdParty/OpenFBX/ofbx.h
  Source/ThirdParty/tinyexr/miniz.cpp
  Source/ThirdParty/tinyexr/miniz.h
  Source/ThirdParty/tinyexr/tinyexr.Build.cs
  Source/ThirdParty/tinyexr/tinyexr.h
Labels: enhancement, core, fix

#2785 Improve engine responsiveness when not focused
  Source/Engine/Engine/Engine.cpp
Labels: enhancement, platform

#2801 Force rebuild on proxy changes if rebuild is true
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#2808 Add grid gizmo to prefab scene.
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: enhancement, editor, prefabs

#2812 Fix missing debug draw from prefabs
  Source/Editor/Viewport/PrefabWindowViewport.cs
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.h
Labels: editor, fix, prefabs

#2819 Remove zero clamping from HingeJointDrive in Editor
  Source/Engine/Physics/Joints/HingeJoint.h
Labels: fix, physics

#2821 Add actor type and script type to search filters.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: enhancement, editor

#2827 Use larger epsilon in `Vector` `IsNormalized` checks
  Source/Engine/Core/Math/Double2.cs
  Source/Engine/Core/Math/Double3.cs
  Source/Engine/Core/Math/Double4.cs
  Source/Engine/Core/Math/Float2.cs
  Source/Engine/Core/Math/Float3.cs
  Source/Engine/Core/Math/Float4.cs
  Source/Engine/Core/Math/Quaternion.cs
  Source/Engine/Core/Math/Quaternion.h
  Source/Engine/Core/Math/Vector2.cs
  Source/Engine/Core/Math/Vector2.h
  Source/Engine/Core/Math/Vector3.cs
  Source/Engine/Core/Math/Vector3.h
  Source/Engine/Core/Math/Vector4.cs
Labels: core, fix

#2852 Increase Lerp node size
  Source/Editor/Surface/Archetypes/Math.cs
Labels: editor, fix, visject

#2856 Change Object Reference "None" to be grayed out instead of error/warning orange color.
  Source/Editor/CustomEditors/Editors/FlaxObjectRefEditor.cs
Labels: editor, fix

#2830 Use visject surface description cm for material surface and anim graph surface.
  Source/Editor/Surface/AnimGraphSurface.cs
  Source/Editor/Surface/MaterialSurface.cs
  Source/Editor/Surface/ParticleEmitterSurface.cs
Labels: enhancement, editor, visject

#2831 Handle cpp .f in bindings generator.
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, tools

#2832 Only sort surface parameters alphabetically if script member order is set to Alphabetical.
  Source/Editor/Surface/SurfaceUtils.cs
Labels: editor, fix

#2833 Add physics and lights debug drawing in prefabs when enabled.
  Source/Editor/Viewport/PrefabWindowViewport.cs
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.h
  Source/Engine/Physics/Colliders/Collider.h
Labels: editor, fix, prefabs

#2834 Fix audio state for non-streaming audio
  Source/Engine/Audio/AudioSource.cpp
  Source/Engine/Audio/AudioSource.h
Labels: audio, fix

#2837 Add Requesting engine exit event. Expose Fatal error and requesting exit it to c#
  Source/Engine/Engine/Base/GameBase.cpp
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Engine/Engine.h
  Source/Engine/Engine/Globals.h
  Source/Engine/Platform/Base/PlatformBase.cpp
Labels: enhancement, core

#2842 Use `CHECK_DEBUG` over `ASSERT` in normalized direction checks
  Source/Engine/Core/Math/Quaternion.cpp
  Source/Engine/Core/Math/Ray.cs
  Source/Engine/Core/Math/Ray.h
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Physics/Colliders/Collider.cpp
  Source/Engine/Physics/Physics.cpp
  Source/Engine/Platform/Platform.h
  Source/Engine/Terrain/TerrainPatch.cpp
Labels: core, fix

#2844 Set EnableHRTF on audio init to match audio settings value.
  Source/Engine/Audio/Audio.cpp
Labels: audio, fix

#2848 Add check for not having right mouse button down for changing terrain gizmo sizes
  Source/Editor/Tools/Terrain/PaintTerrainGizmo.cs
  Source/Editor/Tools/Terrain/SculptTerrainGizmo.cs
Labels: editor, fix, terrain

#2849 Add resizing foliage paint gizmo with shift scroll.
  Source/Editor/Tools/Foliage/PaintFoliageGizmo.cs
Labels: enhancement, editor, foliage

#2850 Don't zoom in edit game window if shift is clicked and window is not focused
  Source/Editor/Viewport/EditorViewport.cs
Labels: editor, fix

#2851 Change terrain modes to not be visible if no terrain panel is showing
  Source/Editor/Tools/Terrain/CarveTab.cs
Labels: editor, fix, terrain

#2853 Improve anim slot blending between animation in the same slot
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
  Source/Engine/Level/Actors/AnimatedModel.cpp
Labels: enhancement, animations

#2854 Cache properties window scroll for actors.
  Source/Editor/Windows/PropertiesWindow.cs
Labels: enhancement, editor

#2857 Expose additional Actor virtual methods to c#
  Source/Engine/Level/Actor.h
  Source/Engine/UI/UICanvas.cpp
  Source/Engine/UI/UICanvas.cs
Labels: enhancement, scripting, level

#2843 fix crash with prefab window open on script reload
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: editor

#2828 Add check return for index in `Level.GetScene`
  Source/Engine/Level/Level.h
Labels: fix, scripting

#2873 Add option to invert the y-axis mouse rotation in the editor viewport camera.
  Source/Editor/Options/ViewportOptions.cs
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#2858 Hide animated model parameters on end play.
  Source/Editor/CustomEditors/Dedicated/AnimatedModelEditor.cs
Labels: editor, fix

#2859 Keep property declared order if similar meta data token.
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
Labels: editor, fix

#2860 Fix Progress bar lerp jumping when first initialized.
  Source/Engine/UI/GUI/Common/ProgressBar.cs
Labels: fix, ui

#2861 Only allow adding unique proxy types to content database Proxy list.
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#2869 Add Bindings for handling MAX c++ defines in Enums and converting them to c#.
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, tools

#2871 Remove bindings for InputEvent and InputAxis events on dispose.
  Source/Engine/Engine/InputAxis.cs
  Source/Engine/Engine/InputEvent.cs
Labels: input, fix, scripting

#2872 Add Gamepad buttons to Axis Config.
  Source/Engine/Input/Input.cpp
  Source/Engine/Input/VirtualInput.h
Labels: enhancement, input

#2876 Shrink listen button in input editors.
  Source/Editor/CustomEditors/Editors/BindableButtonEditor.cs
Labels: enhancement, editor, input

#2878 Moved material instance override options into setting button.
  Source/Editor/Windows/Assets/MaterialInstanceWindow.cs
Labels: enhancement, editor

#2881 Use nameof for adding new Modules to build targets.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/Editor.cpp
  Source/Editor/Modules/SourceCodeEditing/CodeEditingModule.cs
Labels: enhancement, editor, tools

#2889 Fix null reference in Visject CM if there are no elements associated with a node
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
Labels: fix, visject

#2391 Extended math lib
  Source/Engine/Core/Math/Quaternion.cpp
  Source/Engine/Core/Math/Quaternion.cs
  Source/Engine/Core/Math/Quaternion.h
  Source/Engine/Core/Math/Transform.cpp
  Source/Engine/Core/Math/Transform.cs
  Source/Engine/Core/Math/Transform.h
  Source/Engine/Core/Math/Vector3.cpp
  Source/Engine/Core/Math/Vector3.cs
  Source/Engine/Core/Math/Vector3.h
Labels: enhancement, core

#2891 Add saving collection element groups.
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
  Source/Editor/CustomEditors/Elements/Container/GroupElement.cs
  Source/Editor/CustomEditors/LayoutElementsContainer.cs
Labels: enhancement, editor

#2894 Clean up JsonAssetWindow options cm if it exists.
  Source/Editor/Windows/Assets/JsonAssetWindow.cs
Labels: bug, editor, fix

#2895 Update sprite group name when sprite name is changed.
  Source/Editor/Windows/Assets/SpriteAtlasWindow.cs
Labels: editor, fix, content
