Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-04, with the labels that each got.

#2382 Trade minor optimizations in MSVC Development builds for compile speed
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: enhancement, platform, tools

#2315 Add toggle orthographic view hotkey
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#2380 Patch numpad enter to normal enter on Linux
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
Labels: platform, input, fix

#2409 Fix .NET runtime validity checks with daily runtime builds
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: tools, fix

#2410 Remove Editor viewport aspect ratio scaling from camera mouse movement
  Source/Editor/Viewport/EditorGizmoViewport.cs
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: editor, fix

#2417 Fix underline being in wrong spot on different DPIs
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
Labels: fix, ui

#2424 Hide TAA settings if TAA isn't enabled.
  Source/Editor/CustomEditors/Dedicated/PostProcessSettingsEditor.cs
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
  Source/Engine/Graphics/PostProcessSettings.cs
  Source/Engine/Graphics/PostProcessSettings.h
Labels: enhancement, editor

#2421 Fixed IK to have correct bone roll
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
  Source/Engine/Animations/InverseKinematics.cpp
Labels: fix, animations

#2429 Add locking actor selection in properties and prefab windows
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
  Source/Editor/Windows/Assets/PrefabWindow.Selection.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/PropertiesWindow.cs
Labels: enhancement, editor

#2435 Make NavMesh initialize earlier.
  Source/Engine/Navigation/NavMesh.cpp
  Source/Engine/Navigation/NavMesh.h
Labels: fix, navigation

#2438 Display all actors in Actor toolbox search tab when no filter is applied.
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor

#2442 Add sorting search actor toolbox
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor

#2468 Release Prefab assets when unloading Scripting service
  Source/Engine/Level/Prefabs/Prefab.cpp
Labels: fix, scripting

#2482 Fix freeze when selecting ModelPrefab referencing a removed asset
  Source/Editor/CustomEditors/Dedicated/ModelPrefabEditor.cs
Labels: editor, fix

#2485 [Android] Add exported property to activity element in AndroidManifest.xml template
  Source/Platforms/Android/Binaries/Project/app/src/main/AndroidManifest.xml
Labels: platform, fix

#2487 [Android] Add more useful orientation settings
  Source/Editor/Cooker/Platform/Android/AndroidPlatformTools.cpp
  Source/Engine/Platform/Android/AndroidPlatformSettings.h
Labels: enhancement, platform

#2500 Change "Apply window layouts" to "Window layouts"
  Source/Editor/Modules/UIModule.cs
Labels: editor, fix

#2502 Focus prefab window on item spawn.
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
Labels: editor, fix

#2503 Add watermark attribute to add watermark to string fields in editor.
  Source/Editor/CustomEditors/Editors/StringEditor.cs
  Source/Engine/Scripting/Attributes/Editor/WatermarkAttribute.cs
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: enhancement, editor, ui

#2521 Fix TreeNode not rendering all nodes properly with invisible children
  Source/Editor/GUI/Tree/TreeNode.cs
Labels: editor, fix
