Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-02, with the labels that each got.

#2172 Fix `Dropdown` panel to scale correctly.
  Source/Engine/UI/GUI/Common/Dropdown.cs
Labels: enhancement, ui

#2175 Fix `AlwaysShowScrollbars` to update visibility state of the scroll bars
  Source/Engine/UI/GUI/Panels/Panel.cs
Labels: fix, ui

#2177 Fix Plugin Project creation when the user types in symbols.
  Source/Editor/Windows/PluginsWindow.cs
Labels: editor, fix

#2186 fix plugin entry layout
  Source/Editor/Windows/PluginsWindow.cs
Labels: enhancement, editor

#2197 Change drop location of multiple nodes to be vertical.
  Source/Editor/Surface/MaterialSurface.cs
Labels: editor, visject

#2199 Adjust combobox window position based on what direction it opens.
  Source/Editor/GUI/ComboBox.cs
Labels: enhancement, ui

#2202 Add drag drop for actor script items into scenes and prefabs.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
  Source/Editor/Viewport/ViewportDraggingHelper.cs
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#2203 Added "Start Time" option for Audio Source Actor
  Source/Engine/Audio/AudioSource.cpp
  Source/Engine/Audio/AudioSource.h
Labels: enhancement, audio

#2206 Fixing codegen skipping "if" and writing "else if" first
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cpp.cs
Labels: core, fix

#2207 Fix going into windowed mode on windows.
  Source/Engine/Platform/Windows/WindowsWindow.cpp
Labels: platform, fix

#2214 Update BindingsGenerator.Cpp.cs fixed nested enums generation for eventInfo
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cpp.cs
Labels: tools, fix

#2221 Add hold arrow key in tree to continuously scroll actors
  Source/Editor/GUI/Tree/Tree.cs
Labels: enhancement, editor, input

#2149 Add custom editor for buttons that allow listening for them inside the editor.
  Source/Editor/CustomEditors/Editors/BindableButtonEditor.cs
  Source/Editor/CustomEditors/Editors/GamepadButtonEditor.cs
  Source/Editor/CustomEditors/Editors/KeyboardKeysEditor.cs
  Source/Editor/CustomEditors/Editors/MouseButtonEditor.cs
Labels: enhancement, editor, input

#2158 don't rotate a rigidbody around locked axis by AddMovement
  Source/Engine/Physics/Actors/RigidBody.cpp
  Source/Engine/Physics/Actors/RigidBody.h
Labels: fix, physics

#2200 Fixes terrain smoothing separation issue
  Source/Editor/Tools/Terrain/Sculpt/FlattenMode.cs
  Source/Editor/Tools/Terrain/Sculpt/HolesMode.cs
  Source/Editor/Tools/Terrain/Sculpt/Mode.cs
  Source/Editor/Tools/Terrain/Sculpt/NoiseMode.cs
  Source/Editor/Tools/Terrain/Sculpt/SculptMode.cs
  Source/Editor/Tools/Terrain/Sculpt/SmoothMode.cs
Labels: enhancement, terrain

#2208 Collection UI adjustments
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
  Source/Editor/CustomEditors/Editors/DictionaryEditor.cs
  Source/Editor/CustomEditors/Editors/ModelInstanceEntryEditor.cs
  Source/Engine/Core/Config/LayersAndTagsSettings.cs
  Source/Engine/Localization/LocalizationSettings.h
  Source/Engine/Scripting/Attributes/CollectionAttribute.cs
Labels: enhancement, editor

#2211 Add skeleton mask asset parameter to Blend With Mask anim node.
  Source/Editor/Surface/Archetypes/Animation.cs
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: enhancement, animations

#2225 fix off-by-one in collection range check
  Source/Editor/GUI/Tabs/Tabs.cs
Labels: editor, fix

#1739 Fix terrain painting.
  Source/Editor/Tools/Terrain/Paint/Mode.cs
  Source/Editor/Tools/Terrain/Paint/SingleLayerMode.cs
  Source/Editor/Tools/Terrain/PaintTerrainGizmoMode.cs
Labels: editor, fix, terrain

#1871 Add directions to slider
  Source/Engine/UI/GUI/Common/Slider.cs
Labels: enhancement, ui

#2100 Added "Create parent for selected actors" context menu button
  Source/Editor/Modules/SceneEditingModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#2098 Add parameter to change arrow cap size
  Source/Editor/SceneGraph/Actors/DirectionalLightNode.cs
  Source/Editor/SceneGraph/Actors/SpotLightNode.cs
  Source/Editor/Viewport/ViewportDraggingHelper.cs
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.cs
  Source/Engine/Debug/DebugDraw.h
  Source/Engine/Physics/Joints/D6Joint.cpp
  Source/Engine/Physics/Joints/HingeJoint.cpp
  Source/Engine/Physics/Joints/SphericalJoint.cpp
Labels: enhancement, graphics, scripting

#1948 Add require script and actor attributes.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Engine/Scripting/Attributes/Editor/RequireActorAttribute.cs
  Source/Engine/Scripting/Attributes/Editor/RequireScriptAttribute.cs
Labels: enhancement, scripting

#1958 Add option to start game focused on GameWindow
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#1999 calculate follow selection on FOV and far plane
  Source/Editor/Viewport/Cameras/FPSCamera.cs
Labels: editor, fix

#2019 Add font fallback for text rendering
  .gitignore
  Source/Editor/EditorAssets.cs
  Source/Editor/GUI/Row.cs
  Source/Editor/GUI/Timeline/GUI/PositionHandle.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Options/OptionsModule.cs
  Source/Editor/Windows/Assets/FontWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Editor/Windows/SplashScreen.cpp
  Source/Engine/Core/Config/GameSettings.cs
  Source/Engine/Core/Config/GameSettings.h
  Source/Engine/Core/Config/GraphicsSettings.h
  Source/Engine/Graphics/Graphics.cpp
  Source/Engine/Render2D/FallbackFonts.cpp
  Source/Engine/Render2D/FallbackFonts.h
  Source/Engine/Render2D/Font.cpp
  Source/Engine/Render2D/Font.h
  Source/Engine/Render2D/FontAsset.cpp
  Source/Engine/Render2D/FontAsset.h
  Source/Engine/Render2D/FontManager.cpp
  Source/Engine/Render2D/Render2D.cpp
  Source/Engine/Render2D/Render2D.cs
  Source/Engine/Render2D/Render2D.h
  Source/Engine/Scripting/Scripting.cs
  Source/Engine/UI/GUI/Common/Label.cs
  Source/Engine/UI/GUI/Common/RichTextBox.Parsing.cs
  Source/Engine/UI/GUI/Common/RichTextBox.Tags.cs
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: enhancement, ui

#1774 Add parameter to finds only an active actor from the scenes
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.cs
  Source/Engine/Level/Actor.h
  Source/Engine/Level/Level.cpp
  Source/Engine/Level/Level.h
Labels: enhancement, scripting

#1813 Visject: Improved CM item search
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Surface/ContextMenu/VisjectCMItem.cs
  Source/Editor/Utilities/QueryFilterHelper.cs
Labels: enhancement, editor, visject

#1827 Allow quick creation of scripts.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor

#1869 Add ActiveOnly parameter to Level::GetActors
  Source/Engine/Level/Level.cpp
  Source/Engine/Level/Level.cs
  Source/Engine/Level/Level.h
Labels: enhancement, scripting

#1949 Added Actor.GetPrefabRoot().
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.h
Labels: enhancement, scripting

#1376 DebugDraw extra
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.cs
  Source/Engine/Debug/DebugDraw.h
Labels: enhancement, graphics

#2173 Add reload project menu button
  Source/Editor/Modules/UIModule.cs
Labels: enhancement, editor

#2179 Update Array.h added IsValidIndex
  Source/Engine/Core/Collections/Array.h
Labels: enhancement, core

#2257 Fix issue with CharacterController initialization
  Source/Engine/Physics/Colliders/CharacterController.cpp
Labels: fix, physics

#1482 Spline Improvements
  Source/Editor/SceneGraph/Actors/SplineNode.cs
Labels: enhancement, editor, level

#2230 refresh thumbnails of selected items instead of a single one
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
Labels: enhancement, editor

#2246 Rubberband-style selection in a ContentView
  Source/Editor/Content/GUI/ContentView.cs
Labels: enhancement, editor

#2234 initialize the bool _isHorizontalFlippingMouse to false
  Source/Engine/Platform/Linux/LinuxWindow.cpp
Labels: platform, fix

#2250 Fix NextUnitVector2
  Source/Engine/Utilities/Extensions.cs
Labels: core, fix

#2251 Add NextUnitCircleVector2 extension method
  Source/Engine/Utilities/Extensions.cs
Labels: enhancement, core

#2104 Fix for resetting local transform of newly created prefab child
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
Labels: editor, fix, prefabs

#2147 Fix model prefab issue with scaling and rotation, as well as differences between assimp and OpenFBX imports.
  Source/Engine/ContentImporters/ImportModel.cpp
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
Labels: enhancement, tools

#2170 Keep local orientation on collider spawn.
  Source/Editor/SceneGraph/Actors/BoxColliderNode.cs
  Source/Engine/Physics/Colliders/BoxCollider.cpp
  Source/Engine/Physics/Colliders/BoxCollider.h
Labels: enhancement, editor

#2176 Fix prefab transform on drag drop with parent.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: enhancement, prefabs

#1795 Snap To Grid
  Source/Engine/Core/Math/Float2.cs
  Source/Engine/Core/Math/Vector3.cs
Labels: enhancement, core

#2079 implement MoveFileToRecycleBin on Linux
  Source/Engine/Content/Content.cpp
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
  Source/Engine/Platform/Linux/LinuxFileSystem.h
Labels: enhancement, platform

#2192 Vehicle Physics Improviments
  Source/Engine/Physics/Actors/WheeledVehicle.cpp
  Source/Engine/Physics/Actors/WheeledVehicle.h
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/PhysicsBackend.h
Labels: enhancement, physics

#2045 vertex snapping
  Source/Editor/Gizmo/TransformGizmo.cs
  Source/Editor/Gizmo/TransformGizmoBase.Draw.cs
  Source/Editor/Gizmo/TransformGizmoBase.Selection.cs
  Source/Editor/Gizmo/TransformGizmoBase.Types.cs
  Source/Editor/Gizmo/TransformGizmoBase.cs
  Source/Editor/SceneGraph/Actors/FoliageNode.cs
  Source/Editor/SceneGraph/SceneGraphNode.cs
  Source/Editor/Tools/Foliage/EditFoliageGizmo.cs
Labels: enhancement, editor

#2268 Change category drop panel to look similar to other panels.
  Source/Editor/GUI/ItemsListContextMenu.cs
  Source/Engine/AI/Behavior.h
  Source/Engine/Networking/Components/NetworkTransform.h
Labels: enhancement, editor

#2270 Attempt to fix `IAssetFactory::Get()` in plugins on Linux.
  Source/Engine/Content/Content.cpp
  Source/Engine/Content/Factories/IAssetFactory.h
Labels: fix, scripting
