Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-10, with the labels that each got.

#2960 Fix missing `EditorDisplay` attribute on Distance and Hinge Joints for their Flags
  Source/Engine/Physics/Joints/DistanceJoint.h
  Source/Engine/Physics/Joints/HingeJoint.h
Labels: documentation, fix

#2964 Fix RichTextBox selection bug
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
Labels: fix, ui

#2966 Add options to reconstruct z channel for textures.
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
  Source/Engine/Tools/TextureTool/TextureTool.cpp
  Source/Engine/Tools/TextureTool/TextureTool.h
Labels: enhancement, graphics, content

#2968 Small fix for Reconstructing Z Channel, add keeping aspect ratio when resizing, add flipx
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
  Source/Engine/Tools/TextureTool/TextureTool.cpp
  Source/Engine/Tools/TextureTool/TextureTool.h
Labels: enhancement, content

#2970 Add opening file proxy for windows.
  Source/Editor/Content/Proxy/FileProxy.cs
Labels: enhancement, editor

#2971 Quick fix for #2963
  Source/Editor/GUI/Docking/FloatWindowDockPanel.cs
Labels: editor, fix

#2972 Fix video player audio not looping.
  Source/Engine/Video/MF/VideoBackendMF.cpp
Labels: audio, fix

#2997 Fix crash while initializing OpenAL
  Source/Tools/Flax.Build/Deps/Dependencies/OpenAL.cs
Labels: audio, fix

#2991 Add tooltip text alignment editor options
  Source/Editor/Options/InterfaceOptions.cs
  Source/Engine/UI/GUI/Tooltip.cs
Labels: enhancement, editor

#3008 Handle C++ curly brace field default values for code gen to C#
  Source/Engine/Tests/TestScripting.h
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
Labels: enhancement, tools, scripting

#3015 Disable add script item if it is not being added to a required actor.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
Labels: enhancement, editor

#2988 Add debug draw clear method
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.h
Labels: enhancement, graphics

#3012 Add getter for WheeledVehicle throttle
  Source/Engine/Physics/Actors/WheeledVehicle.cpp
  Source/Engine/Physics/Actors/WheeledVehicle.h
Labels: enhancement, physics

#3011 Improve delete assets confirm dialog
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#3016 Add button in GameCooker window to open output build folder.
  Source/Editor/Windows/GameCookerWindow.cs
Labels: enhancement, editor

#3017 Fix build and Fix tooltip having editor references.
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Options/OptionsModule.cs
  Source/Engine/UI/GUI/Tooltip.cs
Labels: fix, ui

#2969 `Nullable<T>` refactor
  Source/Editor/Editor.cpp
  Source/Editor/Windows/SplashScreen.cpp
  Source/Engine/Core/Log.cpp
  Source/Engine/Core/Types/Nullable.h
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Graphics/Graphics.cpp
  Source/Engine/Graphics/Shaders/Cache/ShaderAssetBase.cpp
  Source/Engine/Graphics/Shaders/Cache/ShaderCacheManager.cpp
  Source/Engine/GraphicsDevice/DirectX/DX11/GPUDeviceDX11.cpp
  Source/Engine/GraphicsDevice/DirectX/DX12/GPUDeviceDX12.cpp
  Source/Engine/GraphicsDevice/Vulkan/GPUDeviceVulkan.cpp
  Source/Engine/Platform/Base/PlatformBase.cpp
  Source/Engine/Platform/Linux/LinuxPlatform.cpp
  Source/Engine/Platform/Mac/MacPlatform.cpp
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
  Source/Engine/Tests/TestNullable.cpp
Labels: enhancement, core

#2996 Add hotkey for parent to new actor
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
Labels: enhancement, editor

#3025 Add support for c++ trailing return c# generation
  Source/Engine/Tests/TestScripting.h
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
Labels: enhancement, tools

#3027 Fix NetworkManager not resetting LastUpdateTime
  Source/Engine/Networking/NetworkManager.cpp
Labels: fix, networking

#3028 Nameless c++ function argument support for C# generation
  Source/Engine/Tests/TestScripting.h
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
Labels: enhancement, tools
