Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-09, with the labels that each got.

#2905 Fix spelling and comment description wording for `GetAssetVirtualProxy`
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: editor, fix

#2907 Add generic CSharpProxy. Add Empty C# template.
  Content/Editor/Scripting/CSharpEmptyTemplate.cs
  Source/Editor/Content/Items/CSharpScriptItem.cs
  Source/Editor/Content/Proxy/CSharpProxy.cs
  Source/Editor/Content/Proxy/CppProxy.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#2911 Add Shift+End and PageUp/PageDown for `TextBoxBase`
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, input, ui

#2913 Fix last list element label positioning.
  Source/Editor/CustomEditors/GUI/PropertiesList.cs
Labels: editor, fix

#2914 Fix interface bindings clashing namespace and class name if class has same name as namespace.
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: tools, fix, scripting

#2915 Removed decals from effecting editor camera model.
  Source/Engine/Level/Actors/Camera.cpp
Labels: enhancement, editor, graphics

#2415 New content creation options and features.
  Source/Editor/Content/Create/PrefabCreateEntry.cs
  Source/Editor/Content/Items/PrefabItem.cs
  Source/Editor/Content/Proxy/ParticleEmitterProxy.cs
  Source/Editor/Content/Proxy/PrefabProxy.cs
  Source/Editor/Content/Proxy/SkinnedModelProxy.cs
  Source/Editor/Windows/Assets/AnimationGraphWindow.cs
Labels: enhancement, editor, prefabs

#2892 Add cleaning up modules from target files when deleted.
  Source/Editor/Modules/ContentDatabaseModule.cs
  Source/Editor/Modules/SourceCodeEditing/CodeEditingModule.cs
Labels: enhancement, editor, tools, scripting

#2922 Add code gen for FixedAllocation arrays to generate Collection attribute with allocation count
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: enhancement, tools

#2673 Initial AGX Impl
  Source/Engine/Graphics/PostProcessSettings.h
  Source/Shaders/ColorGrading.shader
Labels: enhancement, graphics

#2916 Dont close Flag Enum Combobox on option selected.
  Source/Editor/GUI/EnumComboBox.cs
Labels: enhancement, editor

#2924 Rename VisualScriptingDescriptionPanel to NodeDescriptionPanel
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
Labels: editor, fix, visject

#2930 Add splash screen quote about docs
  Source/Editor/Windows/SplashScreen.cpp
Labels: documentation

#2933 Improve editor options descriptions
  Source/Editor/Options/InterfaceOptions.cs
Labels: documentation, enhancement

#2938 Surface Comments: Aligned text when editing title
  Source/Editor/Surface/SurfaceComment.cs
Labels: enhancement, visject

#2941 Fix caret position in text box when no text but text alignment is applied
  Source/Engine/Render2D/Font.cpp
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: fix, ui

#2945 Fix ARM64 compiler support detection with MSVC v140 toolset
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsPlatformBase.cs
Labels: tools, fix

#2947 Fix issue with scroll bars not showing in item search panel when clear search button is clicked.
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, fix, ui

#2948 Fix `HasBorder` and `BorderThickness` for RichTextBox
  Source/Engine/UI/GUI/Common/RichTextBoxBase.cs
Labels: fix, ui

#2953 Add audio debug sphere for video player if spatial audio is used.
  Source/Engine/Video/VideoPlayer.cpp
  Source/Engine/Video/VideoPlayer.h
Labels: enhancement, audio, editor

#2955 Fixed NetworkLagDriver having wrong ChannelType and Length
  Source/Engine/Networking/Drivers/NetworkLagDriver.cpp
  Source/Engine/Networking/Drivers/NetworkLagDriver.h
Labels: fix, networking
