Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-12, with the labels that each got.

#2870 Add support for Vector3, Float3, Double3, and Quaternion mutliselect value changing
  Source/Editor/CustomEditors/CustomEditor.cs
  Source/Editor/CustomEditors/Editors/QuaternionEditor.cs
  Source/Editor/CustomEditors/Editors/Vector3Editor.cs
  Source/Editor/CustomEditors/Values/ValueContainer.cs
Labels: enhancement, editor

#3073 Add more scripting templates.
  Content/Editor/Scripting/ActorTemplate.cpp
  Content/Editor/Scripting/ActorTemplate.cs
  Content/Editor/Scripting/ActorTemplate.h
  Content/Editor/Scripting/EmptyClassTemplate.cs
  Content/Editor/Scripting/EmptyInterfaceTemplate.cs
  Content/Editor/Scripting/EmptyStructTemplate.cs
  Source/Editor/Content/Proxy/CSharpProxy.cs
  Source/Editor/Content/Proxy/CppProxy.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#3088 Gizmo improvements
  Source/Editor/Gizmo/TransformGizmoBase.Draw.cs
  Source/Editor/Options/VisualOptions.cs
Labels: enhancement, editor

#3093 Visject: Comment rename improvements and regression fix
  Source/Editor/Surface/Archetypes/Tools.cs
  Source/Editor/Surface/SurfaceComment.cs
Labels: enhancement, visject

#3096 Add highlight when actor reference is single clicked
  Source/Editor/CustomEditors/Editors/FlaxObjectRefEditor.cs
  Source/Editor/GUI/Tree/TreeNode.cs
Labels: enhancement, editor

#3099 Show game window if hidden when start play.
  Source/Editor/Modules/SimulationModule.cs
Labels: editor, fix

#3101 Scroll to script on add.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/Options/InterfaceOptions.cs
Labels: enhancement, editor

#3102 Add value null check in `UiControlEditor` to fix exception
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: editor, fix

#3103 Add the option to ignore specific warnings during build.
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
Labels: enhancement, tools, scripting

#3105 Fix models imported with negative scale using optional import option to reverse winding order
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
  Source/Engine/Tools/ModelTool/ModelTool.AutodeskFbxSdk.cpp
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
  Source/Engine/Tools/ModelTool/ModelTool.h
Labels: enhancement, graphics, content

#3109 Fix Collection value containers to use correct value assignment.
  Source/Editor/CustomEditors/CustomEditor.cs
  Source/Editor/CustomEditors/Values/ValueContainer.cs
Labels: editor, fix
