Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-06, with the labels that each got.

#2640 Fix a few edge cases for cursor showing/not showing
  Source/Engine/Platform/Windows/WindowsWindow.cpp
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: platform, fix

#2671 Visject: Offset lines and minor connection line style changes
  Source/Editor/Surface/Archetypes/Tools.cs
  Source/Editor/Surface/Elements/Box.cs
  Source/Editor/Surface/Elements/OutputBox.cs
Labels: enhancement, visject

#2674 [Minor] Fix thumb of H scrollbar not showing up until dragged by user
  Source/Engine/UI/GUI/Panels/ScrollBar.cs
Labels: fix, ui

#2676 Fix Variant getters returning already freed managed handles
  Source/Editor/Managed/ManagedEditor.cpp
  Source/Editor/States/LoadingState.cs
  Source/Engine/AI/BehaviorKnowledge.cpp
  Source/Engine/AI/BehaviorKnowledge.h
  Source/Engine/Engine/GameplayGlobals.cpp
  Source/Engine/Engine/GameplayGlobals.h
  Source/Engine/Level/Actors/AnimatedModel.cpp
  Source/Engine/Level/Actors/AnimatedModel.h
  Source/Engine/Particles/ParticleEffect.cpp
  Source/Engine/Particles/ParticleEffect.h
Labels: editor, fix, scripting

#2677 Fix crash when trying to import unsupported EXR-file
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
Labels: fix, content

#2314 Store Debug Log view options in Editor options
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/DebugLogWindow.cs
  Source/Editor/Windows/EditorOptionsWindow.cs
Labels: enhancement, editor

#2685 Draw impulse/ execution lines slightly thicker than data ones
  Source/Editor/Surface/Elements/OutputBox.cs
Labels: enhancement, visject

#2668 Quick Fix To Progress Bar Min/Max
  Source/Engine/UI/GUI/Common/ProgressBar.cs
Labels: fix, ui

#2669 Item List CM: Improved Search
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor

#2675 Visject: Spawn parameter setter node when holding ALT during drag and drop
  Source/Editor/Surface/VisjectSurface.DragDrop.cs
  Source/Editor/Surface/VisualScriptSurface.cs
Labels: enhancement, visject

#2639 Add slot spacing to uniform grid panel.
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
  Source/Editor/GUI/Input/ColorValueBox.cs
  Source/Engine/UI/GUI/Panels/UniformGridPanel.cs
Labels: enhancement, editor, ui

#2692 Fix error when previewing animation timeline values after reimport
  Source/Editor/GUI/Timeline/Tracks/MemberTrack.cs
Labels: editor, fix, animations

#2693 Fix crash in Colliders when PhysicsMaterial asset is reloaded in editor
  Source/Engine/Physics/Colliders/Collider.cpp
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/Physics.cpp
  Source/Engine/Physics/PhysicsBackend.h
  Source/Engine/Physics/PhysicsBackendEmpty.cpp
Labels: crash, fix, physics

#2695 Fix freeing managed Object references in marshalled arrays
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: fix, scripting

#2678 RadialMenu and material nodes
  Source/Editor/Surface/Archetypes/Material.cs
  Source/Engine/Tools/MaterialGenerator/MaterialGenerator.Material.cpp
  Source/Engine/UI/GUI/Special/RadialMenu.cs
Labels: enhancement, graphics, ui

#2346 Alternative Rectangle function names for naming consistency, resolves #2345
  Source/Engine/Core/Math/Rectangle.cs
  Source/Engine/Core/Math/Rectangle.h
Labels: enhancement, core

#2368 Add support for log contexts, and add logging of the loading object's GUID when finding an object by GUID failed.
  Source/Editor/Modules/ContentFindingModule.cs
  Source/Engine/Core/Types/LogContexts.cpp
  Source/Engine/Core/Types/LogContexts.h
  Source/Engine/Scripting/Object.cs
  Source/Engine/Scripting/Script.cpp
  Source/Engine/Scripting/Scripting.cpp
  Source/Engine/Scripting/ScriptingObject.cpp
Labels: enhancement, core

#2699 Fix missing LogContext data
  Source/Engine/Core/LogContext.cpp
Labels: core, fix

#2706 Fix borders not tinting.
  Source/Engine/Render2D/Render2D.cpp
Labels: graphics, fix, ui

#2707 Visject: Fix broken float node spawning when typing decimal numbers into searchfield
  Source/Editor/Surface/ContextMenu/VisjectCMGroup.cs
Labels: editor, fix, visject

#2708 Fix crash on add new drive steer vs speed
  Source/Engine/Physics/Actors/WheeledVehicle.cpp
Labels: fix, physics

#2715 Fix graphical glitches in Vulkan backend with AMD GPUs
  Source/Engine/GraphicsDevice/Vulkan/DescriptorSetVulkan.cpp
Labels: graphics, fix
