Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-03, with the labels that each got.

#2055 Add the option to deselect all.
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/GUI/CurveEditor.Contents.cs
  Source/Editor/GUI/CurveEditor.cs
  Source/Editor/GUI/Timeline/GUI/KeyframesEditor.cs
  Source/Editor/GUI/Tree/Tree.cs
  Source/Editor/Modules/SceneEditingModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Surface/VisjectSurface.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/DebugLogWindow.cs
  Source/Editor/Windows/Search/ContentSearchWindow.cs
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: enhancement, editor, ui

#2116 Add the ability to quickly change window modes for the game window.
  Source/Editor/Modules/SimulationModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#2290 Cap multiblend value to the range set
  Source/Editor/Surface/Archetypes/Animation.MultiBlend.cs
Labels: enhancement, editor

#2291 Remove ui postfx render task on canvas disable.
  Source/Engine/UI/UICanvas.cs
Labels: fix, ui

#2292 Re-add important inputs to GameWindow
  Source/Editor/Windows/GameWindow.cs
Labels: editor, fix

#2294 Visual Scripting CM: Fixed no available Getter/Setter node and item for private parameters
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
Labels: fix, scripting, visject

#2296 Fix concurrent access to cached marshalled type sizes
  Source/Engine/Engine/NativeInterop.cs
Labels: fix, scripting

#2299 vertex snapping refactor corrections
  Source/Editor/Gizmo/TransformGizmo.cs
  Source/Editor/Gizmo/TransformGizmoBase.cs
  Source/Editor/SceneGraph/Actors/StaticModelNode.cs
  Source/Editor/SceneGraph/SceneGraphNode.cs
Labels: enhancement, editor, fix

#2300 Add support for VS 2022 v17.10 / MSVC 14.4x toolset
  Source/Tools/Flax.Build/Platforms/GDK/GDKPlatform.cs
  Source/Tools/Flax.Build/Platforms/UWP/UWPPlatform.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsPlatform.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsPlatformBase.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: enhancement, tools

#1141 Add collider direction for orienting capsule collider.
  Source/Engine/Physics/Colliders/CapsuleCollider.cpp
  Source/Engine/Physics/Colliders/CapsuleCollider.h
  Source/Engine/Physics/Colliders/Collider.cpp
  Source/Engine/Physics/Colliders/Collider.h
Labels: enhancement, physics

#2313 Fix `PhysicsScene` change not working in physics actors
  Source/Engine/Physics/Actors/RigidBody.cpp
  Source/Engine/Physics/Colliders/Collider.cpp
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/PhysicsBackend.h
  Source/Engine/Physics/PhysicsBackendEmpty.cpp
  Source/Engine/Terrain/TerrainPatch.cpp
Labels: fix, physics

#2331 Add deselecting by clicking no control. Add cursor changes when over widgets.
  Source/Editor/Gizmo/UIEditorGizmo.cs
Labels: enhancement, editor, ui

#2324 Clamp location of multiblend data to fix last animation edge case.
  Source/Editor/Surface/Archetypes/Animation.MultiBlend.cs
Labels: editor, fix

#2328 Remove import UI on Animation not created by an import.
  Source/Editor/Windows/Assets/AnimationWindow.cs
Labels: enhancement, editor

#2333 Fix duplicate generation of native variant conversion helpers
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cpp.cs
Labels: tools, fix, scripting

#2334 Remove widgets when EnableSelecting is false.
  Source/Editor/Gizmo/UIEditorGizmo.cs
Labels: enhancement, editor

#2337 Add back some more game window inputs but dont run the action if the editor is in play mode.
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#2030 Changes to default post process settings.
  Source/Engine/Graphics/PostProcessSettings.h
Labels: enhancement, graphics

#2213 add units support in float, double and Float3 input
  Source/Editor/CustomEditors/Editors/ActorTransformEditor.cs
  Source/Editor/CustomEditors/Editors/DoubleEditor.cs
  Source/Editor/CustomEditors/Editors/FloatEditor.cs
  Source/Editor/CustomEditors/Editors/QuaternionEditor.cs
  Source/Editor/CustomEditors/Editors/Vector3Editor.cs
  Source/Editor/CustomEditors/Elements/DoubleValueElement.cs
  Source/Editor/CustomEditors/Elements/FloatValueElement.cs
  Source/Editor/GUI/Input/DoubleValueBox.cs
  Source/Editor/GUI/Input/FloatValueBox.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Utilities/ShuntingYardParser.cs
  Source/Editor/Utilities/Units.cs
  Source/Editor/Utilities/Utils.cs
  Source/Engine/Core/Math/Transform.h
  Source/Engine/Physics/Actors/RigidBody.h
  Source/Engine/Physics/Colliders/BoxCollider.h
  Source/Engine/Physics/Colliders/CapsuleCollider.h
  Source/Engine/Physics/Colliders/CharacterController.h
  Source/Engine/Physics/Colliders/Collider.h
  Source/Engine/Physics/Colliders/SphereCollider.h
  Source/Engine/Physics/Joints/DistanceJoint.h
  Source/Engine/Physics/Joints/Joint.h
  Source/Engine/Scripting/Attributes/Editor/NumberCategoryAttribute.cs
  Source/Engine/Utilities/Utils.cs
Labels: enhancement, editor

#2339 Add focusing search bar in content view and output textbox.
  Source/Editor/Windows/ContentWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#2343 Add control visibility check to begin play on UIControl
  Source/Engine/UI/UIControl.cs
Labels: fix, ui

#2351 Allow save input and undo redo in Editor Options
  Source/Editor/Windows/EditorOptionsWindow.cs
Labels: enhancement, editor

#2352 Fix carrot and selection height based on dpi scale to correctly scale with interface options.
  Source/Engine/UI/GUI/Common/TextBox.cs
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: fix, ui

#2355 Make TargetViewOffset only go to bottom of text. Add Scroll to Carrot for new lines.
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: fix, ui

#2358 Add cursor change and showing timeline edge duration when moving it.
  Source/Editor/GUI/Timeline/GUI/TimelineEdge.cs
Labels: enhancement, editor, animations

#2360 Fix splitters not working.
  Source/Engine/UI/GUI/Panels/SplitPanel.cs
Labels: editor, fix, ui

#2354 Allow multiple collision actors to be created from context menu.
  Source/Editor/SceneGraph/Actors/StaticModelNode.cs
Labels: enhancement, editor

#2357 Prevent creating new project into non-empty folder
  Source/Editor/Editor.cpp
  Source/Engine/Platform/Win32/Win32FileSystem.h
Labels: enhancement, editor

#2372 Add focus selection lock input to scene tree window.
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor
