Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-11, with the labels that each got.

#2994 Expand play mode game panel focus options by a focus back option
  Source/Editor/Modules/SimulationModule.cs
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#3029 Check and warn user if asset is being moved between the content to source folders
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#3030 Collections maintenance
  Source/Engine/Core/Collections/Array.h
  Source/Engine/Core/Collections/BitArray.h
  Source/Engine/Core/Collections/BucketState.h
  Source/Engine/Core/Collections/Dictionary.h
  Source/Engine/Core/Collections/HashSet.h
  Source/Engine/Core/Collections/RingBuffer.h
  Source/Engine/Core/Memory/Allocation.h
  Source/Engine/Renderer/RenderListBuffer.h
Labels: enhancement, core

#3033 Fix output log scroll reset on new log entries addition bug
  Source/Editor/Windows/OutputLogWindow.cs
Labels: editor, fix

#3034 Set the CanvasScaler's minResolution and resolution curve to the minimum amount
  Source/Engine/UI/GUI/CanvasScaler.cs
Labels: fix, ui

#3037 Reload existing scene if opened again.
  Source/Editor/States/ChangingScenesState.cs
Labels: enhancement, editor

#3047 Remap object id for role change message
  Source/Engine/Networking/NetworkReplicator.cpp
Labels: fix, networking

#3058 .NET9: Add support for .NET 9 SDK and runtime
  Source/Editor/Cooker/CookingData.h
  Source/Editor/Cooker/Steps/DeployDataStep.cpp
  Source/Engine/Core/Collections/OrderedDictionary.cs
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, scripting

#3060 Add being able to obfuscate text in a text box with a character.
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: enhancement, ui

#3062 Fix exception that is thrown when using the type editor.
  Source/Editor/Modules/SourceCodeEditing/CodeDocsModule.cs
Labels: editor, fix

#3063 Add "File" menu option to open game project folder
  Source/Editor/Modules/UIModule.cs
Labels: enhancement, editor

#3048 Fix duplicate root node values changed handler bug on the `BehaviorKnowledgeEditor`
  Source/Editor/Windows/Assets/BehaviorTreeWindow.cs
Labels: editor, fix, ai

#3010 Add warning when used param is being deleted
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Surface/Archetypes/Parameters.cs
  Source/Editor/Surface/IParametersDependantNode.cs
  Source/Editor/Surface/VisjectSurface.Parameters.cs
  Source/Editor/Surface/VisjectSurfaceWindow.cs
Labels: enhancement, editor, visject

#3021 Add named terrain layers
  Source/Editor/CustomEditors/Editors/TerrainLayerEditor.cs
  Source/Editor/Surface/Archetypes/Material.cs
  Source/Editor/Tools/Terrain/Paint/SingleLayerMode.cs
  Source/Editor/Tools/Terrain/PaintTerrainGizmoMode.cs
  Source/Engine/Core/Config/LayersAndTagsSettings.cs
Labels: enhancement, terrain

#3069 Small UX improvements to tracks
  Source/Editor/GUI/Timeline/Timeline.cs
  Source/Editor/GUI/Timeline/Undo/AddRemoveTrackAction.cs
Labels: enhancement, editor, animations

#3070 Fix scene tree menu options being enabled when not supposed to be
  Source/Editor/SceneGraph/Actors/SceneNode.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
Labels: editor, fix
