Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-05, with the labels that each got.

#2534 Force windows cursor to show or hide based on cursor hidden value
  Source/Engine/Platform/Windows/WindowsWindow.cpp
  Source/Engine/Platform/Windows/WindowsWindow.h
Labels: platform, input, fix

#2529 Add margin to item tree in toolbox
  Source/Editor/Windows/ToolboxWindow.cs
Labels: editor, fix

#2533 Trim content item name and actor name on rename
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: editor, fix

#2536 Default gameplay global type selection to last selected type.
  Source/Editor/Windows/Assets/GameplayGlobalsWindow.cs
Labels: enhancement, editor, content

#2537 Fix smooth step visject node width
  Source/Editor/Surface/Archetypes/Math.cs
Labels: fix, visject

#2552 Skip empty layers for LayerMask Editor
  Source/Editor/CustomEditors/Dedicated/LayersMaskEditor.cs
Labels: enhancement, editor

#2554 Fix odd offset between 1st property and property label.
  Source/Editor/CustomEditors/GUI/PropertiesList.cs
Labels: editor, fix, ui

#2557 Fix unboxing of array type Variants
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Scripting/Internal/StdTypesContainer.cpp
  Source/Engine/Scripting/Internal/StdTypesContainer.h
  Source/Engine/Scripting/ManagedCLR/MCore.h
  Source/Engine/Scripting/ManagedCLR/MUtils.cpp
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/Engine/Scripting/Runtime/Mono.cpp
  Source/Engine/Scripting/Runtime/None.cpp
Labels: core, fix, scripting

#2525 Move control transform to under "General" group
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: enhancement, editor, ui

#2542 Add shift scroll for panels and textbox
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
  Source/Engine/UI/GUI/Panels/Panel.cs
Labels: enhancement, ui

#2551 Dont unfocus game window while cursor is not visible unless the lock mode is none.
  Source/Editor/Windows/GameWindow.cs
Labels: editor, fix

#2563 Small fixes for color picker.
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
  Source/Editor/GUI/Dialogs/ColorSelector.cs
Labels: editor, fix

#2567 Fix drawing an extra character with `Render2D.DrawText`
  Source/Engine/Render2D/Render2D.cpp
Labels: graphics, fix, ui

#2568 Fix Editor not launching if custom interface fonts are missing
  Source/Editor/Options/OptionsModule.cs
Labels: editor, fix

#2572 Fix TreeNode rendering issues with expanded nodes
  Source/Editor/GUI/Tree/TreeNode.cs
Labels: editor, fix, ui

#2580 Fix caret location on text box with no text.
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: enhancement, ui

#2588 Add tree node guidelines
  Source/Editor/GUI/Tree/TreeNode.cs
  Source/Editor/Options/InterfaceOptions.cs
Labels: enhancement, editor

#2591 Fix bindings code generation for nested types
  Source/Tools/Flax.Build/Bindings/ApiTypeInfo.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
Labels: tools, fix, scripting

#2596 Minor improvements to ui editor widget drawing.
  Source/Editor/Gizmo/UIEditorGizmo.cs
Labels: enhancement, editor, ui

#2581 Expose colors of `ScrollBar`s
  Source/Editor/GUI/Tabs/Tabs.cs
  Source/Engine/UI/GUI/Panels/Panel.cs
  Source/Engine/UI/GUI/Panels/ScrollBar.cs
Labels: enhancement, ui

#2586 Allow adding script via drag drop on actor
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Editor/Viewport/MainEditorGizmoViewport.cs
  Source/Editor/Viewport/PrefabWindowViewport.cs
Labels: enhancement, editor

#2589 Add checkerboard background to color picker dialog color.
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
Labels: enhancement, editor

#2593 Fix control transform duplicating when changing anchor.
  Source/Editor/CustomEditors/Dedicated/UIControlEditor.cs
Labels: editor, fix

#2606 Force camera model to load in prefabs.
  Source/Engine/Level/Actors/Camera.cpp
Labels: editor, fix, prefabs

#2617 Change comment
  Source/Engine/Graphics/RenderTask.cpp
Labels: documentation, fix

#2612 Update cursor unlock text with correct input key bind.
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#2615 Fix RichTextBox not drawing the last character
  Source/Engine/UI/GUI/Common/RichTextBox.Parsing.cs
Labels: fix, ui

#2625 Added Edit prefab button
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
Labels: enhancement, editor, prefabs

#2630 Remove drop down image on scripts if no objects are in the group.
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
Labels: editor, fix

#2631 Save debug log collapse state.
  Source/Editor/Windows/DebugLogWindow.cs
Labels: enhancement, editor

#2636 Fix playing from first scene with invalid asset id.…
  Source/Editor/Modules/SimulationModule.cs
Labels: editor, fix

#2629 Visject: Minor QoL change for moving reroute nodes
  Source/Editor/Surface/Archetypes/Tools.cs
Labels: enhancement, editor, visject

#2634 Fix `SliderControl` not being unfocused on value change.
  Source/Editor/GUI/Input/SliderControl.cs
Labels: editor, fix, ui

#2637 Run control update even when UiCanvas skips events.
  Source/Engine/UI/GUI/CanvasRootControl.cs
Labels: fix, ui

#2645 Only size ui widgets based on viewscale and not control size.
  Source/Editor/Gizmo/UIEditorGizmo.cs
Labels: editor, fix, ui

#2649 Visject: Improved UX for disabled boxes
  Source/Editor/Surface/Archetypes/Material.cs
  Source/Editor/Surface/Archetypes/ParticleModules.cs
  Source/Editor/Surface/Elements/Box.cs
  Source/Editor/Surface/Elements/OutputBox.cs
  Source/Editor/Surface/SurfaceStyle.cs
Labels: enhancement, editor, visject

#2652 Visject: Improved comment renaming + visual fix
  Source/Editor/Surface/SurfaceComment.cs
Labels: enhancement, editor, visject

#2655 Fix game build when using some missing debug draw methods.
  Source/Engine/Debug/DebugDraw.cs
Labels: graphics, fix, scripting

#2658 Visject: Connection curvature option
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Surface/Elements/OutputBox.cs
Labels: enhancement, editor, visject

#2662 Visject: Search and filter improvements
  Source/Editor/Surface/ContextMenu/VisjectCM.cs
  Source/Editor/Surface/ContextMenu/VisjectCMGroup.cs
Labels: enhancement, editor, visject

#2665 Fix header height when using HeaderAttribute with multiline label.
  Source/Editor/CustomEditors/LayoutElementsContainer.cs
Labels: editor, fix
