Repository FlaxEngine/FlaxEngine, pull requests merged in 2024-07, with the labels that each got.

#2705 add default audio listener to newly created scenes
  Source/Editor/Modules/SceneModule.cs
Labels: enhancement, audio

#2710 Add a warning when there is more than one audio listener enabled
  Source/Engine/Audio/Audio.cpp
Labels: enhancement, audio

#2718 Only wrap text on underscores and not other special characters
  Source/Engine/Render2D/Font.cpp
Labels: graphics, fix, ui

#2719 Fix the profiler charts in place and only scroll profiler info.
  Source/Editor/Windows/Profiler/Assets.cs
  Source/Editor/Windows/Profiler/CPU.cs
  Source/Editor/Windows/Profiler/GPU.cs
  Source/Editor/Windows/Profiler/MemoryGPU.cs
Labels: editor, fix

#2720 Change to invariant culture for unknown LCID.
  Source/Engine/Localization/CultureInfo.cpp
Labels: core, fix

#2721 Dont show Select prefab, Edit prefab, and view changes buttons when editing actor in the prefab.
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
Labels: enhancement, editor, prefabs

#2723 Select all assets and scripts that are dropped in the tree panel.
  Source/Editor/Windows/Assets/PrefabWindow.Hierarchy.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#2739 Add support for Windows SDK build 26100 (24H2)
  Source/Tools/Flax.Build/Platforms/Windows/WindowsPlatformBase.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: enhancement, platform, tools

#2741 .NET8: Use UnsafeAccessor to initialize scripting object interop fields
  Source/Engine/Engine/NativeInterop.cs
Labels: fix, scripting

#2749 Add cutting of content items.
  Source/Editor/Content/GUI/ContentView.cs
  Source/Editor/Content/Items/ContentItem.cs
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
  Source/Editor/Windows/ContentWindow.cs
Labels: enhancement, editor

#2762 Add PhysX option for enabling enhanced determinism.
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
  Source/Engine/Physics/PhysicsSettings.h
Labels: enhancement, physics

#2770 Remove redundant first tab on floating window.
  Source/Editor/GUI/Docking/DockPanelProxy.cs
Labels: enhancement, editor

#2771 Display asset picker type.
  Source/Editor/GUI/AssetPicker.cs
Labels: enhancement, editor

#2753 Add Editor update event.
  Source/Editor/Editor.cs
Labels: enhancement, editor, scripting

#2754 Deprecate `IsActuallyPlayingSth` and add `IsActuallyPlaying` to `AudioSource`
  Source/Engine/Audio/AudioSource.h
Labels: enhancement, audio

#2755 Fix mesh collider not inverting correctly due to negative scale.
  Source/Engine/Physics/Colliders/MeshCollider.cpp
Labels: fix, physics

#2757 Fix CharacterController to not process hits against removed actors
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
Labels: fix, physics

#2758 Fix `CharacterController::SimpleMove` gravity displacement handling
  Source/Engine/Physics/Colliders/CharacterController.cpp
  Source/Engine/Physics/Colliders/CharacterController.h
Labels: fix, physics

#2763 Dont allow resize of layers array.
  Source/Engine/Core/Config/LayersAndTagsSettings.cs
Labels: editor, fix, content

#2766 Fix Quaternion.FromDirection giving bogus output when fed a perfect down vector
  Source/Engine/Core/Math/Quaternion.cpp
  Source/Engine/Core/Math/Quaternion.cs
Labels: core, fix

#2768 Added eDETECT_CCD_CONTACT to PairFlags, hopefully properly enabling CCD for PhysX
  Source/Engine/Physics/PhysX/PhysicsBackendPhysX.cpp
Labels: fix, physics

#2769 Fix not being able to drag a window tab all of the way to the right.
  Source/Editor/GUI/Docking/DockPanel.cs
Labels: editor, fix

#2714 Support custom deprecation messages in bindings generator
  Source/Editor/CustomEditors/Elements/DoubleValueElement.cs
  Source/Editor/CustomEditors/Elements/FloatValueElement.cs
  Source/Editor/Editor.cs
  Source/Engine/Content/Asset.h
  Source/Engine/Core/Compiler.h
  Source/Engine/Core/Config/GraphicsSettings.h
  Source/Engine/Core/Math/BoundingBox.cs
  Source/Engine/Core/Math/CollisionsHelper.cs
  Source/Engine/Core/Math/Mathd.cs
  Source/Engine/Core/Math/Mathf.cs
  Source/Engine/Core/Math/Matrix.cs
  Source/Engine/Core/Math/Matrix.h
  Source/Engine/Core/Math/Ray.cs
  Source/Engine/Core/Types/StringView.h
  Source/Engine/Debug/DebugDraw.h
  Source/Engine/Engine/InputEvent.cs
  Source/Engine/Graphics/Graphics.h
  Source/Engine/Graphics/Mesh.cs
  Source/Engine/Graphics/RenderView.h
  Source/Engine/Graphics/SkinnedMesh.cs
  Source/Engine/Level/Actor.h
  Source/Engine/Level/Actors/AnimatedModel.h
  Source/Engine/Navigation/NavMeshRuntime.h
  Source/Engine/Navigation/Navigation.h
  Source/Engine/Networking/NetworkConfig.h
  Source/Engine/Physics/CollisionData.cs
  Source/Engine/Platform/Base/PlatformBase.h
  Source/Engine/Utilities/Utils.cs
  Source/Tools/Flax.Build/Bindings/ApiTypeInfo.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.CSharp.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Cache.cs
  Source/Tools/Flax.Build/Bindings/BindingsGenerator.Parsing.cs
  Source/Tools/Flax.Build/Bindings/MemberInfo.cs
  Source/Tools/Flax.Build/Bindings/TypedefInfo.cs
  Source/Tools/Flax.Build/Platforms/Windows/WindowsToolchainBase.cs
Labels: enhancement, tools, scripting

#2232 Add ability to rename multiple actors using scene hierarchy
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
  Source/Editor/Windows/SceneTreeWindow.RenameWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#2326 Avoid deserializing clipboard content in Custom Editor paste checks
  Source/Editor/CustomEditors/CustomEditor.cs
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
  Source/Editor/Surface/VisjectSurface.CopyPaste.cs
Labels: editor

#2730 More 'moves'
  Source/Engine/Core/Collections/Array.h
  Source/Engine/Level/Actor.cpp
  Source/Engine/Level/Actor.h
Labels: core, performance

#2780 Add type display to empty object ref in editor
  Source/Editor/CustomEditors/Editors/FlaxObjectRefEditor.cs
Labels: enhancement, editor

#2781 Allow for injecting scene children on scene loading
  Source/Engine/Level/Level.cpp
Labels: enhancement, scripting, level

#2783 Small table improvements.
  Source/Editor/GUI/ColumnDefinition.cs
  Source/Editor/GUI/Table.cs
Labels: enhancement, editor

#2784 Add assertions for checking against un-normalized direction vectors
  Source/Engine/Core/Math/Quaternion.cpp
  Source/Engine/Core/Math/Ray.h
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Physics/Colliders/Collider.cpp
  Source/Engine/Physics/Physics.cpp
  Source/Engine/Physics/Physics.h
  Source/Engine/Terrain/TerrainPatch.cpp
Labels: enhancement, core

#2786 Fix statically linked binary modules not getting compiled
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
Labels: tools, fix

#2789 Fix warnings about upcoming C# reserved keywords
  Source/Editor/Content/Import/TextureImportEntry.cs
  Source/Editor/Scripting/ScriptType.cs
  Source/Engine/Core/Math/FloatR10G10B10A2.cs
  Source/Engine/Core/Math/FloatR11G11B10.cs
  Source/Engine/Core/Math/Half.cs
Labels: enhancement, core

#2791 Ignore Translate/Rotate/Scale/TransformSpace hotkeys while holding RMB.
  Source/Editor/Viewport/EditorGizmoViewport.cs
Labels: editor, fix

#2795 Add being able to add a thumbnail to a `SpawnableJsonProxy`
  Source/Editor/Content/Proxy/JsonAssetProxy.cs
Labels: enhancement, editor

#1635 Add color picker option to accept changes on dismissal
  Source/Editor/GUI/Dialogs/ColorPickerDialog.cs
  Source/Editor/Options/InterfaceOptions.cs
Labels: enhancement, editor

#2798 Add missing comments for spawnable json proxy ctors.
  Source/Editor/Content/Proxy/JsonAssetProxy.cs
Labels: documentation, fix
