Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-09, with the labels that each got.

#3452 GPUTexturePropertyEditor
  Source/Editor/GUI/GPUTextureEditor.cs
Labels: enhancement, editor, graphics

#3678 Fix view distance light property from affecting brightness all of the time.
  Source/Engine/Level/Actors/Light.h
Labels: graphics, fix

#3683 Remove lingering create script items when add script menu is cleared after query did not match any existing script (& fixes and polish)
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor, fix

#3684 Check if control is control meant for gui editor use in "Create Widget" dialog
  Source/Editor/Content/Create/PrefabCreateEntry.cs
Labels: enhancement, editor, ui, prefabs

#3689 Fix not attaching updated collision data to rigid body.
  Source/Engine/Physics/Colliders/Collider.cpp
Labels: fix, physics

#3332 Small `WheeledVehicle` api and Properties Panel improvements
  Source/Engine/Physics/Actors/WheeledVehicle.cpp
  Source/Engine/Physics/Actors/WheeledVehicle.h
Labels: enhancement, editor, physics

#3511 Debug command suggestion improvements
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Engine/Debug/DebugCommands.cpp
  Source/Engine/Debug/DebugCommands.h
Labels: enhancement, tools

#3543 Add options for viewport icons
  Source/Editor/Options/ViewportOptions.cs
  Source/Editor/Utilities/ViewportIconsRenderer.cpp
  Source/Editor/Utilities/ViewportIconsRenderer.h
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#3624 Make plugins into their own folders in VSCode.
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
Labels: enhancement, tools
