Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-08, with the labels that each got.

#3372 Add a info message on Debug Log pause on error
  Source/Editor/Windows/DebugLogWindow.cs
Labels: enhancement, editor

#3583 Fix hot-reload files not getting cleaned up during startup
  Source/Engine/Platform/Apple/AppleFileSystem.cpp
  Source/Engine/Platform/Apple/AppleFileSystem.h
  Source/Engine/Platform/Linux/LinuxFileSystem.cpp
  Source/Engine/Platform/Linux/LinuxFileSystem.h
  Source/Engine/Platform/Unix/UnixFileSystem.cpp
  Source/Engine/Platform/Unix/UnixFileSystem.h
Labels: enhancement, platform

#3610 Fix edge case for anim event on min or max frame when looping. Fix anim event playback when is reversed.
  Source/Engine/Animations/Graph/AnimGroup.Animation.cpp
Labels: fix, animations

#3611 Make StringView::Empty and String::Empty const to fix issues with user accidentally changing the value.
  Source/Engine/Core/Types/String.cpp
  Source/Engine/Core/Types/String.h
  Source/Engine/Core/Types/StringView.cpp
  Source/Engine/Core/Types/StringView.h
Labels: core, fix, scripting

#3613 Fix infinite loop on rich text box tag parsing with incomplete end of tag.
  Source/Engine/Utilities/HtmlParser.cs
Labels: fix, ui

#3636 Add material base ctor for `MaterialBrush`
  Source/Engine/UI/GUI/Brushes/MaterialBrush.cs
Labels: enhancement, scripting

#3548 Initial work on nuget package support
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Build/DotNet/Builder.DotNet.cs
  Source/Tools/Flax.Build/Build/EngineTarget.cs
  Source/Tools/Flax.Build/Build/NativeCpp/BuildOptions.cs
  Source/Tools/Flax.Build/Build/NativeCpp/Builder.NativeCpp.cs
  Source/Tools/Flax.Build/Projects/Project.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
  Source/Tools/Flax.Build/Utilities/Utilities.cs
Labels: enhancement, tools

#3604 Add shift selection for tree nodes
  Source/Editor/GUI/Tree/Tree.cs
Labels: enhancement, editor

#3643 Add events for when audio settings are changed for the game window.
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#3644 Make visual script editor method override cm searchable
  Source/Editor/Windows/Assets/VisualScriptWindow.cs
Labels: enhancement, scripting, visject

#3495 Add option to show vertices and triangles of collision model in a collider data window.
  Source/Editor/Windows/Assets/CollisionDataWindow.cs
Labels: enhancement, editor, physics
