Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-04, with the labels that each got.

#3345 Fix docked asset windows not getting restored after scripts compilation
  Source/Editor/Modules/WindowsModule.cs
  Source/Editor/Windows/Assets/AssetEditorWindow.cs
  Source/Engine/UI/GUI/Control.cs
Labels: editor, fix

#3334 Select selected Actors on unlock properties.
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/PropertiesWindow.cs
Labels: editor, fix

#3347 Move box collider utility in own Properties Panel category
  Source/Editor/SceneGraph/Actors/BoxColliderNode.cs
Labels: editor, fix

#3350 Fix scale not being applied to physics center.
  Source/Engine/Physics/Colliders/Collider.cpp
Labels: fix, physics

#3337 Fix text box shift not working when selection start is at the text length.
  Source/Engine/UI/GUI/Common/TextBoxBase.cs
Labels: fix, ui

#3354 Add primitive meshes to toolbox search
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor

#3363 Add a hint to the Output Log if there are no messages shown because of filters
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#3369 Fix tooltip not appearing anymore after scripts compilation
  Source/Engine/UI/GUI/Control.cs
Labels: fix, ui

#3370 Fix .NET SDK detection when only the runtime is installed
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: tools, fix

#3371 Fix error when no valid .NET SDKs were found
  PackageAll.bat
  PackageEditor.bat
  PackageEditor.command
  PackageEditor.sh
  PackagePlatforms.bat
  PackagePlatforms.command
  PackagePlatforms.sh
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: tools, fix

#3373 Attempt to fix a rare crash while debugging scripting unload
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
Labels: fix, scripting

#3376 Fix error in LocalizationSettingsEditor after adding new locales
  Source/Editor/CustomEditors/Dedicated/LocalizationSettingsEditor.cs
  Source/Engine/Content/JsonAsset.cpp
  Source/Engine/Content/JsonAsset.h
Labels: fix, content, localization

#3378 Fix missing C#-only project configurations when platform SDK is missing
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
Labels: tools, fix

#3379 Fix CD to package with .NET 8 version
  .github/workflows/cd.yml
Labels: tools, fix

#3359 Improve UX of and expand on new add collision options
  Source/Editor/SceneGraph/Actors/StaticModelNode.cs
Labels: enhancement, editor

#3386 Fix issues with absolute snapping
  Source/Editor/Gizmo/TransformGizmoBase.cs
Labels: editor, fix

#3402 Fix GUI input when edit GUI option is false and game is being played.
  Source/Editor/Windows/GameWindow.cs
Labels: editor, fix, ui

#3405 Fix scroll bars not updating when dragging items.
  Source/Engine/UI/GUI/Panels/Panel.cs
Labels: editor, fix

#3408 Fix profiler memory propagation
  Source/Editor/Windows/Profiler/CPU.cs
Labels: editor, fix, performance
