Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-03, with the labels that each got.

#3200 Add runtime input mapping helpers.
  Source/Engine/Input/Input.cpp
  Source/Engine/Input/Input.h
Labels: enhancement, input

#3204 Update DebugLog documentation
  Source/Engine/Debug/DebugLog.h
Labels: documentation, fix

#3223 Add rmb menu entry to show item in Content Panel if there is a search
  Source/Editor/Windows/ContentWindow.ContextMenu.cs
Labels: enhancement, editor

#3248 Decrease `Grid Panel` fill slider sensitivity
  Source/Engine/UI/GUI/Panels/GridPanel.cs
Labels: enhancement, ui

#2989 Add debug draw clear to game and editor panel
  Source/Editor/Viewport/EditorViewport.cs
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, editor

#3131 Add android emulation options to game cooker android tab.
  Source/Editor/Editor.Build.cs
  Source/Editor/Windows/GameCookerWindow.cs
Labels: enhancement, platform, editor

#3250 Advanced Bloom
  Source/Engine/Graphics/PostProcessSettings.cpp
  Source/Engine/Graphics/PostProcessSettings.h
  Source/Engine/Renderer/PostProcessingPass.cpp
  Source/Engine/Renderer/PostProcessingPass.h
  Source/Shaders/PostProcessing.shader
Labels: enhancement, graphics

#2254 Fix scale gizmo to correctly do 2 axis
  Source/Editor/Gizmo/TransformGizmoBase.cs
Labels: editor, fix

#3270 Deselect locked object on scene change.
  Source/Editor/Windows/PropertiesWindow.cs
Labels: editor, fix

#3271 Remove object editor drop down if disabled.
  Source/Editor/CustomEditors/Editors/FlaxObjectRefEditor.cs
Labels: enhancement, editor

#3275 Better selection bounds for multi axis transform gizmo
  Source/Editor/Gizmo/TransformGizmoBase.Settings.cs
Labels: enhancement, editor

#3276 Add using c: in search filtering to find control types.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: enhancement, editor

#3125 Fix local origin option with multi-mesh import.
  Source/Engine/Graphics/Models/ModelData.h
  Source/Engine/Tools/ModelTool/ModelTool.Assimp.cpp
  Source/Engine/Tools/ModelTool/ModelTool.OpenFBX.cpp
  Source/Engine/Tools/ModelTool/ModelTool.cpp
Labels: graphics, fix, content

#3279 Fix some typos in Font.h and a comment typo in ActorTreeNode.cs
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
  Source/Engine/Render2D/Font.h
Labels: documentation, fix

#3289 Fix fmod to use default box value when set.
  Source/Engine/Visject/ShaderGraph.cpp
Labels: graphics, fix

#3288 ZaP-object-editor-inner-exception-log
  Source/Editor/Editor.cs
Labels: fix, scripting

#3291 Small fixes for cleaning up the options menu in the json asset window.
  Source/Editor/Windows/Assets/JsonAssetWindow.cs
Labels: editor, fix

#2469 Fix scripting AssemblyLoadContext not getting unloaded
  Source/Editor/CustomEditors/CustomEditorPresenter.cs
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
  Source/Editor/CustomEditors/Dedicated/ScriptsEditor.cs
  Source/Editor/CustomEditors/Editors/GenericEditor.cs
  Source/Editor/GUI/Docking/DockWindow.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
  Source/Editor/Modules/ContentImportingModule.cs
  Source/Editor/Modules/SceneModule.cs
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Modules/WindowsModule.cs
  Source/Editor/SceneGraph/SceneGraphNode.cs
  Source/Editor/Surface/AnimGraphSurface.cs
  Source/Editor/Surface/BehaviorTreeSurface.cs
  Source/Editor/Surface/VisjectSurface.cs
  Source/Editor/Surface/VisualScriptSurface.cs
  Source/Editor/Windows/Assets/AssetEditorWindow.cs
  Source/Editor/Windows/Assets/BehaviorTreeWindow.cs
  Source/Editor/Windows/Assets/JsonAssetWindow.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
  Source/Editor/Windows/ContentWindow.cs
  Source/Editor/Windows/ToolboxWindow.cs
  Source/Engine/Engine/NativeInterop.Managed.cs
  Source/Engine/Engine/NativeInterop.Unmanaged.cs
  Source/Engine/Engine/NativeInterop.cs
  Source/Engine/Scripting/ManagedCLR/MCore.h
  Source/Engine/Scripting/Runtime/DotNet.cpp
  Source/Engine/Scripting/Runtime/Mono.cpp
  Source/Engine/Scripting/Runtime/None.cpp
  Source/Engine/Scripting/Scripting.cpp
  Source/Engine/Scripting/Scripting.cs
  Source/Engine/UI/GUI/Tooltip.cs
Labels: fix, scripting

#3300 Add search operator tooltip to scene tree search bar
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#3307 Put terrain info into own Properties panel group
  Source/Editor/CustomEditors/Dedicated/TerrainEditor.cs
Labels: editor, fix, terrain

#3311 Make script compilation failed warning a bit nicer
  Source/Engine/Level/Level.cpp
Labels: documentation, enhancement, editor

#3312 Disable "Remove" option in collections editor context menu if collection can not be resized
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
Labels: editor, fix

#3316 Improve custom Debug/ Output Log color options
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Options/VisualOptions.cs
  Source/Editor/Windows/DebugLogWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#3319 Fix new messages being cut off in Debug Log
  Source/Editor/Windows/DebugLogWindow.cs
Labels: editor, fix

#3322 Fix AssetEditorWindows not getting restored after script recompilation
  Source/Editor/Modules/WindowsModule.cs
Labels: editor, fix

#3325 Increase width of "Size" box to fit max collection size
  Source/Editor/CustomEditors/Editors/CollectionEditor.cs
Labels: enhancement, editor
