Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-02, with the labels that each got.

#2978 Add audio volume and muted in game panel tab rmb menu
  Source/Editor/Windows/GameWindow.cs
Labels: enhancement, audio, editor

#2990 Improve ray direction not normalized assertion message
  Source/Engine/Core/Math/Ray.cs
Labels: enhancement, scripting

#3202 Update volume slider in game panel on menu show
  Source/Editor/Windows/GameWindow.cs
Labels: editor, fix

#2949 Add context to object reference control to narrow finding actors and scripts
  Source/Editor/CustomEditors/Editors/FlaxObjectRefEditor.cs
  Source/Editor/GUI/Popups/ActorSearchPopup.cs
  Source/Editor/GUI/Popups/ScriptSearchPopup.cs
  Source/Editor/GUI/Timeline/Tracks/ActorTrack.cs
Labels: enhancement, editor, prefabs

#3082 Add UIMode switch to prefab window.
  Source/Editor/Viewport/PrefabWindowViewport.cs
  Source/Editor/Windows/Assets/PrefabWindow.cs
Labels: enhancement, editor, ui

#3237 Fix invalid paths in C# launch settings on Windows
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#1437 Debug Log and Output Log color customization
  Source/Editor/Options/InterfaceOptions.cs
  Source/Editor/Windows/DebugLogWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#1502 Double click actions + open prefab ctxmenu
  Source/Editor/Modules/PrefabsModule.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Windows/SceneTreeWindow.ContextMenu.cs
  Source/Editor/Windows/SceneTreeWindow.cs
Labels: enhancement, editor

#3155 Update rapidjson to latest version
  Source/Engine/Serialization/Json.h
  Source/ThirdParty/rapidjson/allocators.h
  Source/ThirdParty/rapidjson/cursorstreamwrapper.h
  Source/ThirdParty/rapidjson/document.h
  Source/ThirdParty/rapidjson/encodedstream.h
  Source/ThirdParty/rapidjson/encodings.h
  Source/ThirdParty/rapidjson/error/en.h
  Source/ThirdParty/rapidjson/error/error.h
  Source/ThirdParty/rapidjson/filereadstream.h
  Source/ThirdParty/rapidjson/filewritestream.h
  Source/ThirdParty/rapidjson/fwd.h
  Source/ThirdParty/rapidjson/internal/biginteger.h
  Source/ThirdParty/rapidjson/internal/clzll.h
  Source/ThirdParty/rapidjson/internal/diyfp.h
  Source/ThirdParty/rapidjson/internal/dtoa.h
  Source/ThirdParty/rapidjson/internal/ieee754.h
  Source/ThirdParty/rapidjson/internal/itoa.h
  Source/ThirdParty/rapidjson/internal/meta.h
  Source/ThirdParty/rapidjson/internal/pow10.h
  Source/ThirdParty/rapidjson/internal/regex.h
  Source/ThirdParty/rapidjson/internal/stack.h
  Source/ThirdParty/rapidjson/internal/strfunc.h
  Source/ThirdParty/rapidjson/internal/strtod.h
  Source/ThirdParty/rapidjson/internal/swap.h
  Source/ThirdParty/rapidjson/istreamwrapper.h
  Source/ThirdParty/rapidjson/memorybuffer.h
  Source/ThirdParty/rapidjson/memorystream.h
  Source/ThirdParty/rapidjson/ostreamwrapper.h
  Source/ThirdParty/rapidjson/pointer.h
  Source/ThirdParty/rapidjson/prettywriter.h
  Source/ThirdParty/rapidjson/rapidjson.h
  Source/ThirdParty/rapidjson/reader.h
  Source/ThirdParty/rapidjson/schema.h
  Source/ThirdParty/rapidjson/stream.h
  Source/ThirdParty/rapidjson/stringbuffer.h
  Source/ThirdParty/rapidjson/uri.h
  Source/ThirdParty/rapidjson/writer.h
Labels: enhancement, core

#3208 Change DrawTube to DrawCapsule. Depricate old Tube code.
  Source/Engine/Debug/DebugDraw.cpp
  Source/Engine/Debug/DebugDraw.h
  Source/Engine/Level/Actors/PointLight.cpp
  Source/Engine/Physics/Colliders/CapsuleCollider.cpp
  Source/Engine/Physics/Colliders/CharacterController.cpp
Labels: enhancement, scripting

#3135 Add "root" parameter to Level.GetScripts()
  Source/Engine/Level/Level.cpp
  Source/Engine/Level/Level.cs
  Source/Engine/Level/Level.h
Labels: enhancement, scripting

#3196 Fix C# projects not compiling in VS with native code plugins present
  Source/Tools/Flax.Build/Build/Builder.Projects.cs
  Source/Tools/Flax.Build/Projects/Project.cs
  Source/Tools/Flax.Build/Projects/ProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/CSSDKProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VCProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/VisualStudioCode/VisualStudioCodeProjectGenerator.cs
  Source/Tools/Flax.Build/Projects/XCodeProjectGenerator.cs
Labels: tools, fix
