Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-06, with the labels that each got.

#3447 Fix Timeout Calculation in `Task::Wait`
  Source/Engine/Threading/Task.cpp
Labels: core, fix

#3450 Adjust width of terrain related nodes and node elements
  Source/Editor/Surface/Archetypes/Material.cs
Labels: editor, fix, terrain

#3472 Add shortcuts for Viewflags and Debug View modes
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Viewport/EditorViewport.cs
Labels: enhancement, editor

#3485 Fix animation preview bounds scale.
  Source/Editor/Viewport/Previews/AnimatedModelPreview.cs
Labels: editor, fix

#3423 Fix slow Tree expansion/collapsion with large amount of tree nodes
  Source/Editor/GUI/Tree/Tree.cs
Labels: enhancement, performance

#3429 Refactor .NET version detection error reporting
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: enhancement, tools

#3433 Add window shortcuts
  Source/Editor/Modules/UIModule.cs
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/EditGameWindow.cs
  Source/Editor/Windows/EditorWindow.cs
  Source/Editor/Windows/GameWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
  Source/Editor/Windows/PropertiesWindow.cs
  Source/Editor/Windows/SceneTreeWindow.cs
  Source/Editor/Windows/ToolboxWindow.cs
Labels: enhancement, editor

#3462 Fix atan2 to use default box value
  Source/Engine/Visject/ShaderGraph.cpp
Labels: graphics, fix

#3463 Fix crammed color grading editor value boxes
  Source/Editor/CustomEditors/Editors/ColorTrackball.cs
Labels: editor, fix

#3493 Remove redundant call to scene. Fixes error in prefab node filtering.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: editor, fix, prefabs

#3391 Update tracy to 0.12.0
  Source/Engine/Platform/Windows/WindowsPlatform.cpp
  Source/ThirdParty/tracy/TracyClient.cpp
  Source/ThirdParty/tracy/client/TracyArmCpuTable.hpp
  Source/ThirdParty/tracy/client/TracyCallstack.cpp
  Source/ThirdParty/tracy/client/TracyCallstack.hpp
  Source/ThirdParty/tracy/client/TracyKCore.cpp
  Source/ThirdParty/tracy/client/TracyKCore.hpp
  Source/ThirdParty/tracy/client/TracyProfiler.cpp
  Source/ThirdParty/tracy/client/TracyProfiler.hpp
  Source/ThirdParty/tracy/client/TracyScoped.hpp
  Source/ThirdParty/tracy/client/TracySysPower.cpp
  Source/ThirdParty/tracy/client/TracySysTrace.cpp
  Source/ThirdParty/tracy/client/tracy_rpmalloc.cpp
  Source/ThirdParty/tracy/common/TracyProtocol.hpp
  Source/ThirdParty/tracy/common/TracyQueue.hpp
  Source/ThirdParty/tracy/common/TracySocket.cpp
  Source/ThirdParty/tracy/common/TracySystem.cpp
  Source/ThirdParty/tracy/common/TracySystem.hpp
  Source/ThirdParty/tracy/common/TracyVersion.hpp
  Source/ThirdParty/tracy/libbacktrace/dwarf.cpp
  Source/ThirdParty/tracy/libbacktrace/elf.cpp
  Source/ThirdParty/tracy/libbacktrace/fileline.cpp
  Source/ThirdParty/tracy/libbacktrace/internal.hpp
  Source/ThirdParty/tracy/libbacktrace/macho.cpp
  Source/ThirdParty/tracy/tracy.Build.cs
  Source/ThirdParty/tracy/tracy/Tracy.hpp
Labels: enhancement, tools

#3551 Adjust model window and animated model slider speeds
  Source/Editor/Windows/Assets/ModelBaseWindow.cs
  Source/Editor/Windows/Assets/ModelWindow.cs
  Source/Engine/Level/Actors/AnimatedModel.h
Labels: enhancement, editor

#3522 Add node alignment formatting options to visject
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Surface/NodeAlignmentType.cs
  Source/Editor/Surface/VisjectSurface.ContextMenu.cs
  Source/Editor/Surface/VisjectSurface.Formatting.cs
  Source/Editor/Surface/VisjectSurface.cs
Labels: enhancement, editor, visject

#3525 Add highlighting to layers matrix editor to improve UX
  Source/Editor/CustomEditors/Dedicated/LayersMatrixEditor.cs
Labels: enhancement, editor, physics

#3527 Wrap scrolling items list with arrow keys and simplify scrolling logic
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor

#3530 Add additive (box) and subtractive selection to Visject surfaces
  Source/Editor/Surface/VisjectSurface.Input.cs
  Source/Editor/Surface/VisjectSurface.cs
Labels: enhancement, editor, visject

#3537 Add Import/export warning message boxes
  Source/Engine/ContentImporters/ImportAudio.cpp
  Source/Engine/Graphics/Models/ModelData.Tool.cpp
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
  Source/Engine/Tools/TextureTool/TextureTool.stb.cpp
Labels: enhancement, editor, content

#3541 Add GetOrAddButton utility for MainMenu.
  Source/Editor/GUI/MainMenu.cs
Labels: enhancement, editor

#3542 Add hotkey to quick focus debug console input
  Source/Editor/Options/InputOptions.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/GameWindow.cs
  Source/Editor/Windows/OutputLogWindow.cs
Labels: enhancement, editor

#3546 Make particle emitter editor's source code button enable/disable itself
  Source/Editor/Windows/Assets/ParticleEmitterWindow.cs
  Source/Engine/Particles/ParticleEmitter.cpp
  Source/Engine/Particles/ParticleEmitter.h
Labels: enhancement, editor, particles
