Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-05, with the labels that each got.

#3420 Improve import path ui
  Source/Editor/CustomEditors/Dedicated/ModelPrefabEditor.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/Assets/AnimationWindow.cs
  Source/Editor/Windows/Assets/AudioClipWindow.cs
  Source/Editor/Windows/Assets/CubeTextureWindow.cs
  Source/Editor/Windows/Assets/ModelBaseWindow.cs
  Source/Editor/Windows/Assets/SpriteAtlasWindow.cs
  Source/Editor/Windows/Assets/TextureWindow.cs
Labels: enhancement, editor

#3421 Move rigidbody info to dedicated info group in Properties Panel
  Source/Editor/CustomEditors/Dedicated/RigidBodyEditor.cs
Labels: enhancement, editor, physics

#3425 Fix trying to add scene to actor group.
  Source/Editor/Modules/SceneEditingModule.cs
Labels: editor, fix

#3431 Disable create file dialog create button if asset can't be created
  Source/Editor/Content/Create/CreateFileEntry.cs
  Source/Editor/Content/Create/CreateFilesDialog.cs
  Source/Editor/Content/Create/ParticleEmitterCreateEntry.cs
  Source/Editor/Content/Create/PrefabCreateEntry.cs
  Source/Editor/Content/Create/SettingsCreateEntry.cs
  Source/Editor/Content/Create/VisualScriptCreateEntry.cs
  Source/Editor/Content/Proxy/JsonAssetProxy.cs
  Source/Editor/Windows/Assets/CollisionDataWindow.cs
Labels: editor, fix, content

#3427 Add auto selecting first item in item list context menu if no selection and the user presses enter
  Source/Editor/GUI/ItemsListContextMenu.cs
Labels: enhancement, editor

#3428 Reduce allocations in text rendering related functions
  Source/Engine/Render2D/Font.cpp
  Source/Engine/Render2D/Font.h
  Source/Engine/Render2D/Render2D.cpp
  Source/Engine/UI/TextRender.cpp
Labels: enhancement, performance

#3454 Add info on docs source being available to readme
  README.md
Labels: documentation, enhancement

#3490 Focus Actor position if no Actor bounding box.
  Source/Editor/Editor.cs
Labels: editor, fix

#3497 Add utility for if in play mode that returns true for shipped applications.
  Source/Engine/Engine/Engine.cpp
  Source/Engine/Engine/Engine.h
Labels: enhancement, scripting
