Repository FlaxEngine/FlaxEngine, pull requests merged in 2025-01, with the labels that each got.

#3128 Add import path UI and button to open folder in asset import settings.
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/Assets/AnimationWindow.cs
  Source/Editor/Windows/Assets/AudioClipWindow.cs
  Source/Editor/Windows/Assets/CubeTextureWindow.cs
  Source/Editor/Windows/Assets/ModelWindow.cs
  Source/Editor/Windows/Assets/SkinnedModelWindow.cs
  Source/Editor/Windows/Assets/SpriteAtlasWindow.cs
  Source/Editor/Windows/Assets/TextureWindow.cs
Labels: enhancement, editor, content

#3114 Add game plugin template.
  Content/Editor/Scripting/GamePluginTemplate.cs
  Source/Editor/Content/Proxy/CSharpProxy.cs
  Source/Editor/Modules/ContentDatabaseModule.cs
Labels: enhancement, editor

#3117 Warn if wrong type while setting material parameter.
  Source/Engine/Content/Assets/MaterialBase.cpp
  Source/Engine/Content/Assets/MaterialBase.h
Labels: enhancement, graphics, fix

#3129 Change color for read only text. Fix selection still showing when text box is not focused.
  Source/Engine/UI/GUI/Common/TextBox.cs
Labels: enhancement, ui

#3130 Fix rotation of UI size handles.
  Source/Editor/Gizmo/UIEditorGizmo.cs
Labels: editor, fix, ui

#3133 Fix typo for error message when trying to load a project file that does not exist.
  Source/Editor/Editor.cpp
Labels: fix

#3134 Added a confirmation dialog for editors when the reset button is clicked.
  Source/Editor/Options/Editor.cs
Labels: enhancement, editor

#2979 Make "Edit Prefab" no longer change content panel file path
  Source/Editor/CustomEditors/Dedicated/ActorEditor.cs
Labels: enhancement, editor, prefabs

#3121 Fix .exe being deleted when using the "Run cooked build" option.
  Source/Editor/Cooker/GameCooker.cpp
Labels: editor, fix

#3138 Warn if value is the wrong type for the animation graph parameter trying to be set.
  Source/Engine/Level/Actors/AnimatedModel.cpp
Labels: enhancement, scripting, animations

#3139 Standardize spacing for import path ui in assets. add import path ui to model prefab.
  Source/Editor/CustomEditors/Dedicated/ModelPrefabEditor.cs
  Source/Editor/Utilities/Utils.cs
  Source/Editor/Windows/Assets/AudioClipWindow.cs
  Source/Editor/Windows/Assets/CubeTextureWindow.cs
  Source/Editor/Windows/Assets/SpriteAtlasWindow.cs
  Source/Editor/Windows/Assets/TextureWindow.cs
  Source/Engine/Level/Scripts/ModelPrefab.h
Labels: editor, fix, content

#3143 Add `No parameters` UI to particle effect and animated model
  Source/Editor/CustomEditors/Dedicated/AnimatedModelEditor.cs
  Source/Editor/CustomEditors/Dedicated/ParticleEffectEditor.cs
Labels: enhancement, editor, particles

#3144 Fix crash in multiblend 2d node when first created.
  Source/Editor/Surface/Archetypes/Animation.MultiBlend.cs
Labels: editor, fix, animations

#3145 Fix CPU profiler crash on conversion to ulong.
  Source/Editor/Windows/Profiler/CPU.cs
Labels: editor, fix

#3087 Select dropped actors that are reparented.
  Source/Editor/SceneGraph/GUI/ActorTreeNode.cs
Labels: editor, fix

#3124 Add invert options for texture imports for Red, Blue, and Alpha channels.
  Source/Engine/Tools/TextureTool/TextureTool.DirectXTex.cpp
  Source/Engine/Tools/TextureTool/TextureTool.cpp
  Source/Engine/Tools/TextureTool/TextureTool.h
Labels: enhancement, graphics, content

#3132 Re-enable scale center gizmo.
  Source/Editor/Gizmo/TransformGizmoBase.Selection.cs
  Source/Editor/Gizmo/TransformGizmoBase.Settings.cs
  Source/Editor/Gizmo/TransformGizmoBase.cs
Labels: enhancement, editor

#3141 Fix android build on .net9 and use DotNet version that is found by build tool path.
  Source/Editor/Cooker/Steps/DeployDataStep.cpp
Labels: platform, tools, fix

#3150 Add .aab bundling for Android.
  Source/Editor/Cooker/Platform/Android/AndroidPlatformTools.cpp
  Source/Engine/Platform/Android/AndroidPlatformSettings.h
Labels: enhancement, platform, editor

#3153 Fix Visual Studio solution nested project names on Unix systems
  Source/Tools/Flax.Build/Projects/VisualStudio/VisualStudioProjectGenerator.cs
Labels: tools, fix

#3161 Clamp control anchors between 0 and 1.
  Source/Engine/UI/GUI/Control.Bounds.cs
Labels: fix, ui

#3167 Add drag drop to `FilePathEditor`
  Source/Editor/CustomEditors/Editors/AssetRefEditor.cs
Labels: enhancement, editor

#3168 Check for null in Actor node `IsActive`.
  Source/Editor/SceneGraph/ActorNode.cs
Labels: editor, fix

#3170 Change content item text scale with content view scale.
  Source/Editor/Content/Items/ContentItem.cs
Labels: editor, fix

#3104 Add rotate position shape as particle module.
  Source/Editor/Surface/Archetypes/ParticleModules.cs
  Source/Engine/Particles/Graph/CPU/ParticleEmitterGraph.CPU.ParticleModules.cpp
  Source/Engine/Particles/Graph/GPU/ParticleEmitterGraph.GPU.ParticleModules.cpp
Labels: enhancement, particles

#3162 UI Editor Gizmo selection improvement
  Source/Editor/Gizmo/UIEditorGizmo.cs
  Source/Engine/UI/GUI/ContainerControl.cs
Labels: editor, fix, ui

#3163 Add anchor and pivot drawing for UI Gizmo.
  Source/Editor/Gizmo/UIEditorGizmo.cs
  Source/Editor/Options/VisualOptions.cs
Labels: enhancement, editor, ui

#3181 Fix .NET runtime and SDK compilation issues with newer runtime
  README.md
  Source/Tools/Flax.Build/Build/DotNet/DotNetSdk.cs
Labels: tools, fix
